{% extends 'layout.html' %}

{% block content %}
<article class="post post-default text-left">
  <!-- Post Header-->
  <div class="header post-header">
    <!-- Post Meta-->
    <ul class="post-controls list-inline list-inline-sm p text-dark">
      <li><span class="text-middle icon-xxs text-picton-blue mdi mdi-clock"></span>
        <time datetime="2016-01-01" class="text-middle small">Mar 7, 2016</time>
      </li>
      <li><span class="text-middle icon-xxs text-picton-blue mdi mdi-account-outline">&nbsp;</span><span class="text-middle small">July Mao</span></li>
      <li><span class="text-middle icon-xxs text-picton-blue mdi mdi-folder-outline">&nbsp;</span><a href="#" class="text-middle">UX</a>, <a href="#" class="text-middle">Design</a>
      </li>
      <li><span class="text-middle icon-xxs text-picton-blue mdi mdi-comment-multiple-outline">&nbsp;</span><a href="blog-default-single-left-sidebar.html#comments" class="text-middle small">42<span>&nbsp;Comments</span></a></li>
    </ul>
    <!-- Post Meta-->
    <h3 class="post-title"><a href="blog-default-single-left-sidebar.html#">5 Steps to Blog’s Success.</a></h3>
    <!-- Post Media-->
    <div class="post-media offset-top-34">
      <header class="post-media">
        <div data-photo-swipe="gallery"><a class="thumbnail-classic" href="blog-default-single-left-sidebar.html" target="_self">
                            <figure><img width="570" height="321" src="images/blog/post-01-570x321.jpg" alt="">
                            </figure></a>
        </div>
      </header>
    </div>
  </div>
  <!-- PostContent-->
  <section class="post-content offset-top-41">
    <p>Unfortunately people will not come to your blog just to see what you have published on it. To make sure that your blog becomes a successful one, you have to work on it to attract visitors interested in your content.</p>
    <p>This can be achieved by serious work on some important aspects. In a word, give people the reason to see what you have to say or offer.</p><a href="blog-default-single-left-sidebar.html" class="offset-top-24 btn btn-default">Read More</a>
  </section>
</article>
{% endblock content %}