{% load staticfiles %}

<div class="container">
	<!-- Footer Widgets
	============================================= -->
	<div class="footer-widgets-wrap clearfix">
		<div class="col_two_third">
			<div class="col_half">
				<div class="widget clearfix">
					<img src="{% static 'images/logo2.png' %}" class="footer-logo">
<!-- 					<p>
						We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.
					</p> -->
					<p>
						Hier kan je een korte beschrijvende tekst over yourin plaatsen, of een catchphrase ofzo
					</p>
<!-- 					<div>
						<address>
							<strong>Headquarters:</strong><br>
							795 Folsom Ave, Suite 600<br>
							San Francisco, CA 94107<br>
						</address>
						<abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
						<abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
					</div> -->
				</div>
			</div>
			<div class="col_half col_last">
				<div class="widget clearfix">
					<h4>Recent Nieuws</h4>
					<div id="post-list-footer">
						<div class="spost clearfix">
							<div class="entry-c">
								<div class="entry-title">
									<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
								</div>
								<ul class="entry-meta">
									<li>10th July 2014</li>
								</ul>
							</div>
						</div>
						<div class="spost clearfix">
							<div class="entry-c">
								<div class="entry-title">
									<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
								</div>
								<ul class="entry-meta">
									<li>10th July 2014</li>
								</ul>
							</div>
						</div>
						<div class="spost clearfix">
							<div class="entry-c">
								<div class="entry-title">
									<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
								</div>
								<ul class="entry-meta">
									<li>10th July 2014</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col_one_third col_last">
			<div class="widget subscribe-widget clearfix">
				<h5><strong>Schrijf je in</strong> voor onze nieuwsbrief om op de hoogte te blijven van alle nieuwtjes!</h5>
				<div class="widget-subscribe-form-result"></div>
				<form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin" novalidate="novalidate">
					<div class="input-group divcenter">
						<span class="input-group-addon"><i class="icon-email2"></i></span>
						<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Jouw email adres" aria-required="true">
						<span class="input-group-btn">
							<button class="btn btn-orange" type="submit">Inschrijven</button>
						</span>
					</div>
				</form>
			</div>
			<div class="widget clearfix" style="margin-bottom: -20px;">
				<div class="row">
					<div class="col-md-6 clearfix bottommargin-sm">
						<a href="https://www.facebook.com/yourin.be/" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>
						<a href="https://www.facebook.com/yourin.be/"><small style="display: block; margin-top: 3px;"><strong>Volg ons</strong><br>op Facebook</small></a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- .footer-widgets-wrap end -->
</div>
<!-- Copyrights
============================================= -->
<div id="copyrights">
	<div class="container clearfix">
		<div class="col_half">
			Created by <a href="http://www.thinkmobile.be">Think Mobile</a> 2016
		</div>
	</div>
</div><!-- #copyrights end -->