{% load staticfiles %}

<div id="header-wrap" class="">

	<div class="container clearfix">

		<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

		<!-- Logo
		============================================= -->
		<div id="logo">
			<a href="index.html" class="standard-logo"><img src="{% static 'images/logo.png' %}" alt="Yourin Logo"></a>
			<a href="index.html" class="retina-logo"><img src="{% static 'images/logo@2x.png' %}" alt="Canvas Logo"></a>
		</div><!-- #logo end -->

		<!-- Primary Navigation
		============================================= -->
		<nav id="primary-menu" class="sub-title">

			<ul class="sf-js-enabled">
				<li class="current" style="background-image: url({% static 'images/icons/menu-divider.png' %}">
					<a href="index.html" class="sf-with-ul">
						<div>Home</div>
						<span>Lets Start</span>
					</a>
				</li>
				<li class="" style="background-image: url({% static 'images/icons/menu-divider.png' %});">
					<a href="#" class="sf-with-ul">
						<div>Features</div>
						<span>Out of the Box</span>
					</a>
				</li>
				<li class="" style="background-image: url({% static 'images/icons/menu-divider.png' %});">
					<a href="#" class="sf-with-ul">
						<div>Pages</div>
						<span>Templates</span>
					</a>
				</li>
				<li class="" style="background-image: url({% static 'images/icons/menu-divider.png' %});">
					<a href="#" class="sf-with-ul">
						<div>Portfolio</div>
						<span>Awesome Works</span>
					</a>
				</li>
				<li class="" style="background-image: url({% static 'images/icons/menu-divider.png' %});">
					<a href="#" class="sf-with-ul">
						<div>Blog</div>
						<span>Latest News</span>
					</a>
				</li>
				<li class="" style="background-image: url({% static 'images/icons/menu-divider.png' %});">
					<a href="shop.html" class="sf-with-ul">
						<div>Shop</div>
						<span>Buy Now</span>
					</a>
				</li>
			</ul>
		</nav><!-- #primary-menu end -->
	</div>
</div>