{% load staticfiles wagtailcore_tags %}

<div id="header-wrap" class="">

	<div class="container clearfix">

		<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

		<!-- Logo
		============================================= -->
		<div id="logo">
			<a href="index.html" class="standard-logo"><img src="{% static 'images/logo.png' %}" alt="Yourin Logo"></a>
			<a href="index.html" class="retina-logo"><img src="{% static 'images/logo@2x.png' %}" alt="Canvas Logo"></a>
		</div><!-- #logo end -->

		<!-- Primary Navigation
		============================================= -->
		<nav id="primary-menu" class="sub-title">
			<ul class="sf-js-enabled">
				<li class="current" style="background-image: url({% static 'images/icons/menu-divider.png' %}">
					<a href="index.html" class="sf-with-ul">
						<div>Home</div>
						<span>Welkom!</span>
					</a>
				</li>
				<li class="" style="background-image: url({% static 'images/icons/menu-divider.png' %});">
					<a href="#" class="sf-with-ul">
						<div>Kalender</div>
						<span>Evenementen</span>
					</a>
				</li>
				<li class="" style="background-image: url({% static 'images/icons/menu-divider.png' %});">
					<a href="{% slugurl 'contact' %}" class="sf-with-ul">
						<div>contact</div>
						<span>Templates</span>
					</a>
				</li>
				<li class="" style="background-image: url({% static 'images/icons/menu-divider.png' %});">
					<a href="#" class="sf-with-ul">
						<div>Nieuws</div>
						<span>Awesome Works</span>
					</a>
				</li>
				<li class="" style="background-image: url({% static 'images/icons/menu-divider.png' %});">
					<a href="#" class="sf-with-ul">
						<div>Blog</div>
						<span>Latest News</span>
					</a>
				</li>
			</ul>
			<div id="top-search">
				<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
				<form action="search.html" method="get">
					<input type="text" name="q" class="form-control" value="" placeholder="Geef hier je zoekterm in ... ">
				</form>
			</div>
		</nav><!-- #primary-menu end -->
	</div>
</div>