{% load staticfiles wagtailcore_tags %}

<div class="rd-navbar-wrap" style="height: 121px; min-height: 56px;">
  <nav data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" class="rd-navbar rd-navbar-default rd-navbar-light rd-navbar-static" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
    <div class="rd-navbar-inner">
      <div class="rd-navbar-panel">
        <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
        <div class="rd-navbar-brand">
          <a href="{% slugurl 'home' %}">
            <img style="margin-top: -20px; margin-bottom:-20px; margin-left: -15px;" height="80" src="{% static 'images/logo.png' %}">
          </a>
        </div>
      </div>
      <div class="rd-navbar-menu-wrap">
        <div class="rd-navbar-nav-wrap">
          <div class="rd-navbar-mobile-scroll">
            <div class="rd-navbar-mobile-brand">
              <a href="{% slugurl 'home' %}">
                <img style="margin-top: -5px;margin-left: -15px;" height="80" src="{% static 'images/logo.png' %}">
              </a>
            </div>
            <div class="form-search-wrap">
              <form action="{% url 'search' %}" method="GET" class="form-search rd-search">
                <div class="form-group">
                  <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm rd-input-label">Zoeken</label>
                  <input id="rd-navbar-form-search-widget" type="text" name="query" value="{{ search_query }}" autocomplete="off" class="form-search-input input-lg form-control form-control-gray-lightest input-lg">
                </div>
                <button type="submit" class="form-search-submit">
                  <span class="mdi mdi-magnify"></span>
                </button>
              </form>
            </div>
            <ul class="rd-navbar-nav">
              <li class=""><a href="{% slugurl 'home' %}"><span>Home</span><!--<span class="rd-navbar-label text-middle label-custom label-danger label-xs-custom label-rounded-custom label">new</span>--></a>
          	{% for menuitem in menuitems %}
          	  <li class="{% if calling_page.url == menuitem.url %} active{% endif %}">
                <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
              </li>
          	{% endfor %}
            </ul>
          </div>
        </div>
        <div class="rd-navbar-search">
          <a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi">
            <span></span>
          </a>
          <form action="{% url 'search' %}" method="GET" class="rd-navbar-search-form search-form-icon-right rd-search">
            <div class="form-group">
              <label for="rd-navbar-search-form-input" class="form-label rd-input-label">Geef hier je zoekterm in ... </label>
              <input id="rd-navbar-search-form-input" value="{{ search_query }}" type="text" name="query" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest">
            </div>
            <!--button(type="submit").rd-navbar-search-form-submit.mdi.mdi-magnify-->
          </form>
          <!--div.rd-navbar-live-search-results-->
          <!--button(data-rd-navbar-toggle=".rd-navbar-search, .rd-navbar-inner, .rd-navbar-live-search-results").rd-navbar-search-toggle-->
          <!--  span-->
        </div>
      </div>
    </div>
  </nav>
</div>
