<div class="shell">
	<div data-type="horizontal" class="responsive-tabs responsive-tabs-dashed">
		<ul data-group="tabs-group-default" class="resp-tabs-list tabs-group-default">
		{% for item in self %}
			<li class="resp-tab-item tabs-group-default" role="tab">{{ item.tab_name }}</li>
		{% endfor %}
		</ul>
		<div data-group="tabs-group-default" class="resp-tabs-container text-left tabs-group-default">
		{% for item in self %}
			<div class="offset-md-top-30 resp-tab-content tabs-group-default">
<!-- 				<p class="big text-bold">{{ item.content }}</p>
 -->			<p>
					{{ item.content }}
				</p>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
