<div class="shell">
	<div data-type="horizontal" class="responsive-tabs responsive-tabs-dashed">
		<ul data-group="tabs-group-default" class="resp-tabs-list tabs-group-default">
		{% for item in self %}
			<li class="resp-tab-item tabs-group-default" role="tab">{{ item.tab_name }}</li>
		{% endfor %}
		</ul>
		<div data-group="tabs-group-default" class="resp-tabs-container text-left tabs-group-default">
		{% for item in self %}
			<div class="offset-md-top-30 resp-tab-content tabs-group-default">
				<div class="col-md-{{ item.text_width }} ">
					<p>
						{{ item.rich_content }}
					</p>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
</div>
