<div class="shell">
<div data-type="horizontal" class="responsive-tabs responsive-tabs-dashed">
	<ul data-group="tabs-group-default" class="resp-tabs-list tabs-group-default">
		<li class="resp-tab-item tabs-group-default" role="tab">Toolkit Core</li>
		<li class="resp-tab-item tabs-group-default" role="tab">UI Kit</li>
		<li class="resp-tab-item tabs-group-default" role="tab">Plugins</li>
		<li class="resp-tab-item tabs-group-default" role="tab">Documentation</li>
	</ul>
	<div data-group="tabs-group-default" class="resp-tabs-container text-left tabs-group-default">
		<div class="offset-md-top-30 resp-tab-content tabs-group-default">
			<p class="big text-bold">Our professional services are the keys to your success</p>
			<p>
				Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
			</p>
			<p>
				The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
			</p>
		</div>
		<div class="offset-md-top-30 resp-tab-content tabs-group-default">
			<p>
				The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
			</p>
		</div>
		<div class="offset-md-top-30 resp-tab-content tabs-group-default">
			<p>
				Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
			</p>
		</div>
		<div class="offset-md-top-30 resp-tab-content tabs-group-default">
			<p>
				Nowadays, almost everyone has a website. Basically, this is a business card that you present every visitor or partner with. So, the better it is designed the more likely you can expect your further cooperation. The content on your website is important as well.
			</p>
			<p>
				The information should be not only well-organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey. Adorn posts with bold imagery, and users will get more interested and involved.
			</p>
		</div>
	</div>
</div>
</div>