{% extends 'layout.html' %}

{% load static wagtailimages_tags wagtailcore_tags %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='events' icon='mdi mdi-calendar-clock' section='offset-lg-top-110 offset-sm-top-50 offset-top-50' %}
{% endblock page_title %}

{% block main%}
<section class="section-sm-0">
  <div class="shell">
    <div class="range range-xs-center range-sm-right offset-top-0">
      <div class="cell-xs-10 cell-sm-6 section-image-aside section-image-aside-left text-left">
      {% image page.image original as img %}
        <div style="background-image: url({{ img.file.url }})" class="section-image-aside-img veil reveal-sm-block">
        </div>
        <div class="section-image-aside-body offset-top-41 offset-sm-top-0 section-sm-66 inset-sm-left-50">
          <div>
            <h3 class="text-picton-blue">{{ page.event_date }}</h3>
          </div>
          <div class="offset-top-10">
            <h2> {{ page.title|title }}</h2>
          </div>
          <a class="label-custom label-lg-custom label-rounded-custom label-primary">{{ page.get_category_display }}</a>
          <div class="offset-top-20">
            <p>{{ page.description }}</p>
          </div>
          <div class="icon-list-item text-primary section-top-15">
            <a href="{{ page.website }}">
              <i class="fa fa-internet-explorer text-primary"></i> Naar website
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-50 bg-saffron context-dark text-center">
  <div class="shell">
    <h2><span class="big"> Gerelateerde evenementen</span></h2>
<!--     <p>Can't find the job you want? Send your resume to <a href="#">info@demolink.com</a> , and we'll contact you when a new position opens.</p> -->
    {% for event in page.events.all %}
      <h1>{{ event }} </h1>
      <p>
        <a href="{% url 'evenement' event.pk %}">LINK</a>
      </p>
    {% endfor%}
  </div>
</section>
{% endblock main %}