{% extends 'layout.html' %}

{% load static wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}


{% block page_title %}
  {% if page.has_subtitle %}
    {% include 'home/partials/page_title.html' with title='events' icon='mdi mdi-calendar-clock' %}
  {% endif %}
{% endblock page_title %}


{% block main %}

<div class="shell-fluid text-center">
  <h1>Onze Evenementen</h1>
  <hr class="divider bg-mantis">
  <div class="range range-xs-center">
  {% if page.events %}
    {% for event in page.events %}
    <div class="cell-xs-8 cell-sm-6 cell-lg-3 section-bottom-66">
      <figure>
        {% image event.image height-160 as img %}
        <a href="{% pageurl event %}">
          <img src="{{ img.file.url }}">
        </a>
        <figcaption>
          <h4 class="thumbnail-terry-title text-black">{{ event.title|title }}</h4>
        </figcaption>
        
      </figure>
<!--       <figure class="thumbnail-terry">
        <a href="{- pageurl event -}">
          {- image event.image width-450 as img -}
          <img style="height: 200px;" src="{{ img.file.url }}">
        </a>
        <figcaption>
          <div>
            <h4 class="thumbnail-terry-title">{{ event.title|title }}<br></h4>
          </div>
          <p class="thumbnail-terry-desc offset-top-0">{{ event.subtitle }}</p>
          <a href="{% pageurl event %}" class="btn offset-top-10 offset-md-top-0 btn-primary">Naar Overzicht!</a>
        </figcaption>
      </figure> -->
    </div>
    {% endfor %}
  {% else %}
    <div class="cell-xs-8 cell-sm-6 cell-lg-3">
      <figure class="thumbnail-terry">
        <a href="#">
          <img style="height: 200px;" src="{% static 'images/festival.jpg' %}">
        </a>
        <figcaption>
          <div>
            <h4 class="thumbnail-terry-title">Hier komen<br></h4>
          </div>
          <p class="thumbnail-terry-desc offset-top-0">Dit gebeurt volledig</p>
          <a href="#" class="btn offset-top-10 offset-md-top-0 btn-primary">Naar artikel</a>
        </figcaption>
      </figure>
    </div>
    <div class="cell-xs-8 cell-sm-6 cell-lg-3">
      <figure class="thumbnail-terry">
        <a href="#">
          <img style="height: 200px;" src="{% static 'images/cal_bg.jpg' %}">
        </a>
        <figcaption>
          <div>
            <h4 class="thumbnail-terry-title">links naar verschillende<br></h4>
          </div>
          <p class="thumbnail-terry-desc offset-top-0">automatisch op basis van</p>
          <a href="#" class="btn offset-top-10 offset-md-top-0 btn-primary">Naar evenement</a>
        </figcaption>
      </figure>
    </div>
    <div class="cell-xs-8 cell-sm-6 cell-lg-3">
      <figure class="thumbnail-terry">
        <a href="#">
          <img style="height: 200px;" src="{% static 'images/festival.jpg' %}">
        </a>
        <figcaption>
          <div>
            <h4 class="thumbnail-terry-title">events en gebeurtenissen<br></h4>
          </div>
          <p class="thumbnail-terry-desc offset-top-0">nieuwe artikels en nieuwe</p>
          <a href="#" class="btn offset-top-10 offset-md-top-0 btn-primary">Naar pagina</a>
        </figcaption>
      </figure>
    </div>
    <div class="cell-xs-8 cell-sm-6 cell-lg-3">
      <figure class="thumbnail-terry">
        <a href="#">
          <img style="height: 200px;" src="{% static 'images/cal_bg.jpg' %}">
        </a>
        <figcaption>
          <div>
            <h4 class="thumbnail-terry-title">te staan<br></h4>
          </div>
          <p class="thumbnail-terry-desc offset-top-0">evenementen</p>
          <a href="#" class="btn offset-top-10 offset-md-top-0 btn-primary">Ergens naartoe ...</a>
        </figcaption>
      </figure>
    </div>
  {% endif %}
  </div>
</div>
<div class="shell section-66">
  <div class="range range-sm-center">
    <div class="cell-sm-10 cell-md-9 cell-lg-8">
      <div class="inset-left-0 inset-md-right-20">
        <section>
          <h1 class="text-center">Vind een evenement in jouw buurt</h1>
          <hr class="divider divider-lg bg-mantis">
        </section>
      </div>
    </div>
  </div>
</div>
<div id="map" class="map_model" style="height: 550px;"></div>

<script>

  function initMap() {
    var center = {lat: 50.64, lng: 4.2};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: center,
      scrollwheel: false
    });
    
    // Add some markers to the map.
    // Note: The code uses the JavaScript Array.prototype.map() method to
    // create an array of markers based on a given "locations" array.
    // The map() method here has nothing to do with the Google Maps API.
    var markers = marker_details.map(function(details, i) {

      var infowindow = new google.maps.InfoWindow({
        content: '<b><a href="' + details.url + '">' + details.name + '</a></b>'
      });
      var marker = new google.maps.Marker({
        position: details.location,
        title: details.name
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
      return marker

/*      return new google.maps.Marker({
        position: details.location,
        label: labels[i % labels.length],
        title: details.name
      });*/
    });

    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(map, markers,
        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  }

  var marker_details = []

{% for event in page.events %}
  {% for instance in event.events.all %}
    {% if instance.location %}
    event = {
      location: {lat: {{ instance.location.latitude|stringformat:'f' }}, lng: {{ instance.location.longitude|stringformat:'f' }}},
      name: "{{ instance }}",
      url: "{% url 'evenement' instance.pk %}"
    };
    marker_details.push(event);
    {% endif %}
  {% endfor %}
{% endfor %}  
  

</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDjAxMqFazTQK5FM3HmKuXYEjnWUPfSrU&callback=initMap">
</script>
{% endblock main %}