{% extends 'layout.html' %}

{% load static wagtailimages_tags wagtailcore_tags %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='events' subtitle=view.object.event_name icon='mdi mdi-calendar-clock' section='offset-lg-top-110 offset-sm-top-50 offset-top-50' %}
{% endblock page_title %}

{% block main%}
<section class="offset-top-66">
  <div class="shell">
    <!-- Embed Video-->
    <!-- Classic Soundcloud Player-->
    <!-- RD Video Player-->
    <div class="product product-single">
      <div class="range">
        <div class="cell-sm-8 cell-md-6">
          <div class="product-image">
        {% image page.images.all.0.image max-600x1000 as img %}
            <img src="{{ img.file.url }}" alt="" class="img-responsive product-image-area">
          </div>
        </div>
        <div class="cell-sm-12 cell-md-6 text-left offset-top-41 offset-md-top-0">
          <h1 class="product-title offset-top-0">
            {{ page.title|title }} 
          </h1><span class="icon icon-xxs icon-rounded {{ page.icon }}"></span>
          <span class="h6 text-mantis" style="padding-left: 5px;">
            <span class="text-regular big">{{ page.event_date|date:"j F 'y" }}</span>
          </span>          
          <p>
            {{ page.event_description|richtext }}
          </p>
          <hr class="divider hr-sm-left-0 bg-mantis">
          <div class="section-34">
            {% if page.website %}
            <a target="_blank" href="{{ page.website }}">
            {% else %}
            <a target="_blank" href="{{ page.parent_website }}">Naar website
            {% endif %}
              <span class="icon icon-xxs icon-rounded icon-carrot-filled mdi mdi-web"></span>
            Naar website
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if page.related_events %}
<section class="section-34 bg-saffron context-dark text-center">
  <div class="shell">
    <h3><span class="big">Bekijk de andere evenementen</span></h3>
  </div>
</section>
<section>
  <div class="shell">
    <div class="range range-xs-center section-bottom-34">
    {% for event in page.related_events %}
      <div class="cell-sm-6 cell-md-3 offset-top-50">
        <a href="{% pageurl event %}">
          {% image event.image fill-400x240 as img %}
          <img src="{{ img.file.url }}" class="img-responsive reveal-inline-block">
        </a>
        <div class="text-md-left offset-top-20">
          <div>
            <h5 class="text-bold text-primary text-center"><a href="{% pageurl event %}">{{ event.title|title }}</a></h5>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
{% endif %}


{% endblock main %}