{% extends 'layout.html' %}

{% load static wagtailimages_tags wagtailcore_tags %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='events' subtitle=page.title icon='mdi mdi-calendar-clock' section='offset-lg-top-110 offset-sm-top-50 offset-top-50' %}
{% endblock page_title %}

{% block main %}
<section class="section-sm-0">
  <div class="shell">
    <div class="range range-xs-center range-sm-right offset-top-0">
      <div class="cell-xs-10 cell-sm-6 section-image-aside section-image-aside-left text-left">
      {% image page.picture original as img %}
        <div style="background-image: url({{ img.file.url }})" class="section-image-aside-img veil reveal-sm-block">
        </div>
        <div class="section-image-aside-body offset-top-41 offset-sm-top-0 section-sm-66 inset-sm-left-50">
          <div>
            <h3 class="text-picton-blue">{{ page.event_date }}</h3>
          </div>
          <div class="offset-top-10">
            <h2> {{ page.title|title }}</h2>
          </div>
          <a class="label-custom label-lg-custom label-rounded-custom label-primary">{{ page.get_category_display }}</a>
          <div class="offset-top-20">
            <p>{{ page.description }}</p>
          </div>
          <div class="icon-list-item text-primary section-top-15">
            <a href="{{ page.website }}">
              <i class="fa fa-internet-explorer text-primary"></i> Naar website
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-34 bg-saffron context-dark text-center">
  <div class="shell">
    <h3><span class="big"> Alle evenementen</span></h3>
  </div>
</section>
<section class="section-sm-0">
  <div class="shell">
    <div class="range range-xs-center range-sm-left offset-top-0">
      <div class="cell-xs-10 cell-sm-4 section-image-aside section-image-aside-right text-left" style="min-height: 400px;">
      {% image page.image original as img %}
        <div class="section-image-aside-img section-custom-image-aside-img veil reveal-sm-block">
          <div id="map" class="map_model" style="height: 100%"></div>
        </div>
        <div class="section-image-aside-body section-sm-66">
          <ul class="list-unstyled list-index">
          {% for event in page.events.all %}
              <li class="section-10">
                <div class="unit unit-sm unit-sm-horizontal text-center text-sm-left">
                  <div class="unit-left">
                    <span class="icon icon-xxs icon-circle icon-red-filled">{{ forloop.counter }}</span>
                  </div>
                  <div class="unit-body">
                    <a href="{% url 'evenement' event.pk %}">
                      <h4 style="margin-top: 5px;">{{ event.event_name|title }}</h4>
                      <!-- <p>{{ event.event_description }}</p> -->
                    </a>
                  </div>
                </div>
              </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<script>

  function initMap() {
    var center = {lat: 50.64, lng: 4.2};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: center,
      scrollwheel: false
    });
    
    // Add some markers to the map.
    // Note: The code uses the JavaScript Array.prototype.map() method to
    // create an array of markers based on a given "locations" array.
    // The map() method here has nothing to do with the Google Maps API.
    var markers = marker_details.map(function(details, i) {

      var infowindow = new google.maps.InfoWindow({
        content: '<b><a href="' + details.url + '">' + details.name + '</a></b>'
      });
      var marker = new google.maps.Marker({
        position: details.location,
        map: map,
        title: details.name,
        label: details.label
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
      return marker
    });
  }

  var marker_details = []

{% for event in page.events.all %}
  {% if event.location %}
  event = {
    location: {lat: {{ event.location.latitude|stringformat:'f' }}, lng: {{ event.location.longitude|stringformat:'f' }}},
    name: "{{ event }}",
    url: "{% url 'evenement' event.pk %}",
    label: "{{ forloop.counter }}"
  };
  marker_details.push(event);
  {% endif %}
{% endfor %}  
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDjAxMqFazTQK5FM3HmKuXYEjnWUPfSrU&callback=initMap">
</script>
{% endblock main %}