{% extends 'layout.html' %}

{% load staticfiles %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='over yourin' icon='fa fa-hashtag' %}
{% endblock page_title %}

{% block main %}
<main class="page-content">
        <!-- Who we are?-->
        <section>
          <div class="shell">
            <div class="range">
              <div class="cell-lg-5 text-lg-left">
                <h1>Wat doen we?</h1>
                <hr class="divider bg-mantis hr-lg-left-0">
              </div>
            </div>
            <div class="range range-xs-center range-sm-middle offset-top-10 text-md-left">
              <div class="cell-sm-10 cell-lg-7 cell-lg-push-6">
                        <!--<div data-to="70" class="progress-linear animated-first">
                          <div class="progress-header clearfix"><span class="small text-ubold pull-left">HTML/CSS</span><span class="small text-ubold pull-right progress-value">70</span></div>
                          <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear bg-success" style="width: 70%;"></div>
                          </div>
                        </div>-->
                <div class="offset-top-50">
                          <!--<div data-to="54" class="progress-linear animated-first">
                            <div class="progress-header clearfix"><span class="small text-ubold pull-left">Java Script</span><span class="small text-ubold pull-right progress-value">54</span></div>
                            <div class="progress-bar-linear-wrap">
                              <div class="progress-bar-linear bg-info" style="width: 54%;"></div>
                            </div>
                          </div>-->
                </div>
                <div class="offset-top-50">
<!--                           <div data-to="87" class="progress-linear animated-first">
                            <div class="progress-header clearfix"><span class="small text-ubold pull-left">PHP</span><span class="small text-ubold pull-right progress-value">87</span></div>
                            <div class="progress-bar-linear-wrap">
                              <div class="progress-bar-linear bg-warning" style="width: 87%;"></div>
                            </div>
                          </div> -->
                </div>
                <div class="offset-top-50">
<!--                           <div data-to="65" class="progress-linear animated-first">
                            <div class="progress-header clearfix"><span class="small text-ubold pull-left">UI/UX Design</span><span class="small text-ubold pull-right progress-value">65</span></div>
                            <div class="progress-bar-linear-wrap">
                              <div class="progress-bar-linear bg-danger" style="width: 65%;"></div>
                            </div>
                          </div> -->
                </div>
              </div>
              <div class="cell-sm-10 cell-lg-5 cell-lg-pull-6 offset-top-50 offset-lg-top-0">
                <p>Maecenas faucibus mollis interdum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla.</p>
              </div>
            </div>
            <!--<div class="range range-xs-center offset-sm-top-66">
              <div class="cell-sm-10 cell-lg-12">
                <div class="range">
                  <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-xs-top-0">
                            <div class="box-member"><img src="images/users/user-john-doe-270x270.jpg" alt="" class="img-responsive">
                              <h5 class="text-bold offset-top-20"><a href="team-member.html">John Doe</a> <small class="text-picton-blue">Founder</small>
                              </h5>
                              <div class="box-member-wrap">
                                <div class="box-member-caption">
                                  <div class="box-member-caption-inner">
                                    <ul class="list-inline list-inline-xs">
                                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darker-filled"></a></li>
                                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darker-filled"></a></li>
                                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darker-filled"></a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                  </div>
                  <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-sm-top-0 offset-lg-top-0">
                            <div class="box-member"><img src="images/users/user-july-mao-270x270.jpg" alt="" class="img-responsive">
                              <h5 class="text-bold offset-top-20"><a href="team-member.html">July Mao</a> <small class="text-picton-blue">Web Designer</small>
                              </h5>
                              <div class="box-member-wrap">
                                <div class="box-member-caption">
                                  <div class="box-member-caption-inner">
                                    <ul class="list-inline list-inline-xs">
                                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darker-filled"></a></li>
                                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darker-filled"></a></li>
                                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darker-filled"></a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                  </div>
                  <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-sm-top-30 offset-lg-top-0">
                            <div class="box-member"><img src="images/users/user-bernard-show-270x270.jpg" alt="" class="img-responsive">
                              <h5 class="text-bold offset-top-20"><a href="team-member.html">Bernard Show</a> <small class="text-picton-blue">Co-Founder</small>
                              </h5>
                              <div class="box-member-wrap">
                                <div class="box-member-caption">
                                  <div class="box-member-caption-inner">
                                    <ul class="list-inline list-inline-xs">
                                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darker-filled"></a></li>
                                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darker-filled"></a></li>
                                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darker-filled"></a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                  </div>
                  <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-sm-top-30 offset-lg-top-0">
                            <div class="box-member"><img src="images/users/user-ronald-oswald-270x270.jpg" alt="" class="img-responsive">
                              <h5 class="text-bold offset-top-20"><a href="team-member.html">Ronald Oswald</a> <small class="text-picton-blue">Developer</small>
                              </h5>
                              <div class="box-member-wrap">
                                <div class="box-member-caption">
                                  <div class="box-member-caption-inner">
                                    <ul class="list-inline list-inline-xs">
                                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darker-filled"></a></li>
                                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darker-filled"></a></li>
                                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darker-filled"></a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                  </div>
                </div>
              </div>
            </div>-->
          </div>
        </section>
        <!-- Who we are?-->
        <section class="section-98 section-sm-110 bg-gray-darkest context-dark">
          <div class="shell-fluid">
            <div class="range range-sm-center text-center">
              <div class="cell-sm-8 cell-md-12">
                <div class="range">
                  <div class="cell-md-3 cell-sm-6">
                    <!-- Counter type 2-->
                    <div class="counter-type-2">
                      <span class="icon mdi mdi-vector-arrange-below text-mantis"></span>
                      <div class="offset-top-10">
                        <div data-speed="1000" data-from="0" data-to="8" class="h1 text-bold counter"></div>
                      </div>
                      <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Festivals</h6>
                    </div>
                  </div>
                  <div class="cell-md-3 cell-sm-6 offset-top-66 offset-sm-top-0">
                    <!-- Counter type 2-->
                    <div class="counter-type-2">
                      <span class="icon mdi mdi-account-multiple-outline text-malibu"></span>
                      <div class="offset-top-10">
                        <span data-speed="1000" data-from="0" data-to="43" class="h1 text-bold counter"></span>
                      </div>
                      <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Influencers</h6>
                    </div>
                  </div>
                  <div class="cell-md-3 cell-sm-6 offset-top-66 offset-md-top-0">
                    <!-- Counter type 2-->
                    <div class="counter-type-2">
                      <span class="icon mdi mdi-clock text-neon-carrot"></span>
                      <div class="offset-top-10">
                        <div data-speed="1000" data-from="0" data-to="1200" class="h1 text-bold counter"></div>
                      </div>
                      <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Magna Ligula</h6>
                    </div>
                  </div>
                  <div class="cell-md-3 cell-sm-6 offset-top-66 offset-md-top-0">
                    <!-- Counter type 2-->
                    <div class="counter-type-2">
                      <span class="icon mdi mdi-code-brackets text-ku-crimson"></span>
                      <div class="offset-top-10">
                        <span data-speed="1300" data-from="0" data-to="834" class="h1 text-bold counter"></span>
                        <span class="h1 text-bold">K</span>
                      </div>
                      <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Amet Dapibus</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Why Choose Us-->
<!--         <section class="section-top-98 section-sm-top-110 section-sm-bottom-110 section-lg-top-66 section-bottom-98 section-lg-bottom-0 bg-lightest">
          <div class="shell">
            <div class="range range-sm-center range-md-middle">
              <div class="cell-lg-5 veil reveal-lg-inline-block"><img width="470" height="770" src="images/pages/about-us-01-470x770.png" alt="" class="img-responsive center-block"></div>
              <div class="cell-sm-10 cell-lg-5 section-lg-bottom-50">
                <h1 class="offset-none">Why Choose Us</h1>
                <hr class="divider bg-mantis">
                <div class="offset-top-66 offset-lg-top-50">
                          <div class="unit unit-sm unit-sm-horizontal text-sm-left">
                            <div class="unit-left"><span class="icon text-gray mdi mdi-monitor"></span></div>
                            <div class="unit-body">
                              <h4 class="text-bold text-malibu offset-sm-top-14">We use cutting-edge technologies</h4>
                              <p>Our team of professional analysts is constantly roaming the web in search of promising techniques, which will make your business better.</p>
                            </div>
                          </div>
                  <div class="offset-top-66 offset-lg-top-34">
                            <div class="unit unit-sm unit-sm-horizontal text-sm-left">
                              <div class="unit-left"><span class="icon text-gray mdi mdi-newspaper"></span></div>
                              <div class="unit-body">
                                <h4 class="text-bold text-malibu offset-sm-top-14">We value your time</h4>
                                <p>We know how important it is for you to maintain your schedule, that’s why we do everything to fit it. Our team works on your project in multiple threads.</p>
                              </div>
                            </div>
                  </div>
                  <div class="offset-top-66 offset-lg-top-34">
                            <div class="unit unit-sm unit-sm-horizontal text-sm-left">
                              <div class="unit-left"><span class="icon text-gray mdi mdi-headset"></span></div>
                              <div class="unit-body">
                                <h4 class="text-bold text-malibu offset-sm-top-14">We provide qualified support</h4>
                                <p>Our support team is online 24/7, and is ready to help you with any design - related issue.</p>
                              </div>
                            </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->
        <!-- What clients Say?-->
        <section class="section-98 section-sm-110">
          <div class="shell">
            <h1>Onze partners</h1>
            <hr class="divider divider-md bg-mantis">
            <div class="range range-xs-center offset-top-66">
              <div class="cell-sm-8 cell-lg-4">
                        <!-- Boxed Testimonials-->
                        <blockquote class="quote quote-classic quote-classic-boxed">
                          <div class="quote-body">
                            <p>
                              <q>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor. Donec sed odio dui.</q>
                            </p>
                            <div class="quote-meta"><img width="80" height="80" src="{% static 'images/users/user-alex-merphy-80x80.jpg' %}" alt="" class="img-circle quote-img"></div>
                          </div>
                          <h6 class="quote-author text-uppercase">
                            <cite class="text-normal">Alex Merphy</cite>
                          </h6>
                          <p class="quote-desc text-uppercase text-picton-blue">Cras Condimentum</p>
                        </blockquote>
              </div>
              <div class="offset-top-41 cell-sm-8 cell-lg-4 offset-lg-top-0">
                        <!-- Boxed Testimonials-->
                        <blockquote class="quote quote-classic quote-classic-boxed">
                          <div class="quote-body">
                            <p>
                              <q>Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas sed diam eget risus varius blandit sit amet non magna.</q>
                            </p>
                            <div class="quote-meta"><img width="80" height="80" src="{% static 'images/users/user-amanda-smith-80x80.jpg' %}" alt="" class="img-circle quote-img"></div>
                          </div>
                          <h6 class="quote-author text-uppercase">
                            <cite class="text-normal">Amanda Smith</cite>
                          </h6>
                          <p class="quote-desc text-uppercase text-picton-blue">Amet Justo Adipiscing</p>
                        </blockquote>
              </div>
              <div class="offset-top-41 cell-sm-8 cell-lg-4 offset-lg-top-0">
                        <!-- Boxed Testimonials-->
                        <blockquote class="quote quote-classic quote-classic-boxed">
                          <div class="quote-body">
                            <p>
                              <q>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit.</q>
                            </p>
                            <div class="quote-meta"><img width="80" height="80" src="{% static 'images/users/user-sam-cole-80x80.jpg' %}" alt="alisa milano" class="img-circle quote-img"></div>
                          </div>
                          <h6 class="quote-author text-uppercase">
                            <cite class="text-normal">Sam Cole</cite>
                          </h6>
                          <p class="quote-desc text-uppercase text-picton-blue">Venenatis Vestibulum Fringilla</p>
                        </blockquote>
              </div>
            </div>
          </div>
        </section>
      </main>
{% endblock main %}