{% extends 'layout.html' %}

{% load staticfiles %}

{% block page_title %}
  {% if page.has_subtitle %}
    {% include 'home/partials/page_title.html' with title='over yourin' icon='' %}
  {% else %}
  <div class="section-lg-140 section-sm-31 section-xs-top-34">
  </div>
  {% endif %}
{% endblock page_title %}

{% block main %}
<main class="page-content">
  <!-- Who we are?-->
  <section> 
    <div class="shell section-bottom-85">
      <div class="range text-center range-xs-center range-sm-middle">
        <div class="cell-sm-10 cell-lg-6 cell-lg-pull-6 offset-top-50 offset-lg-top-0">
        {{ page.page_content }}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock main %}