{% extends 'layout.html' %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='contact' icon='fa fa-envelope-square' %}
{% endblock page_title %}

{% block main %}
<section>
  <div class="shell text-center">
    <h1>Contacteer ons</h1>
    <hr class="divider bg-mantis">
  </div>
  <!-- Contact Us-->
  <section>
    <div class="shell-fluid">
      <div class="range range-xs-center text-sm-left offset-top-50">
        <div class="cell-xs-10 cell-sm-8 cell-md-8 cell-xl-6 text-left">
          <p>{{ page.intro_text }}</p>
        </div>
      </div>
      <div class="range range-xs-center text-sm-left offset-top-50">
        <div class="cell-xs-10 cell-sm-8 cell-md-8 cell-lg-5 cell-xl-4">
          <!-- RD Mailform-->
          <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left" novalidate="novalidate">
            <div class="range">
              <div class="cell-lg-6">
                <div class="form-group">
                  <label for="contact-me-name" class="form-label rd-input-label form-label-sm"">Naam</label>
                  <input id="contact-me-name" type="text" name="name" data-constraints="@Required" class="form-control form-control-has-validation form-control-last-child input-sm"><span class="form-validation"></span>
                </div>
              </div>
              <div class="cell-lg-6 offset-top-20 offset-lg-top-0">
                <div class="form-group">
                  <label for="contact-me-phone" class="form-label rd-input-label form-label-sm"">Bedrijf</label>
                  <input id="contact-me-phone" type="text" name="phone" class="form-control form-control-has-validation form-control-last-child  input-sm"><span class="form-validation"></span>
                </div>
              </div>
              <div class="cell-lg-12 offset-top-20 offset-lg-top-30">
                <div class="form-group">
                  <label for="contact-me-email" class="form-label rd-input-label form-label-sm">Email</label>
                  <input id="contact-me-email" type="email" name="email" data-constraints="@Required @Email" class="form-control form-control-has-validation form-control-last-child input-sm"><span class="form-validation"></span>
                </div>
              </div>
              <div class="cell-lg-12 offset-top-20 offset-lg-top-30">
                <div class="form-group">
                  <label for="contact-me-message" class="form-label rd-input-label form-label-sm"">Jouw boodschap</label>
                  <textarea id="contact-me-message" name="message" data-constraints="@Required" style="height: 150px" class="form-control form-control-has-validation form-control-last-child  input-sm"></textarea><span class="form-validation"></span>
                </div>
              </div>
            </div>
            <div class="range range-xs-center range-lg-left text-center text-lg-left offset-top-30">
              <div class="cell-xs-8 cell-sm-6">
                <button type="submit" class="btn btn-lg btn-block btn-primary">Verzenden</button>
              </div>
            </div>
          </form>
        </div>
        <div class="cell-xs-10 cell-sm-8 cell-md-8 cell-lg-3 cell-xl-2 offset-top-50 offset-lg-top-0">
          <div class="inset-xl-right-20 text-center text-lg-left">
            <address class="contact-info reveal-sm-inline-block text-left">
              <div class="unit unit-spacing-sm unit-horizontal p">
                <div class="unit-left"><span class="icon icon-xxs fa fa-map-marker"></span></div>
                <div class="unit-body"><a href="#">{{ page.address }}</a></div>
              </div>
              <div class="p unit unit-spacing-xs unit-horizontal offset-top-20">
                <div class="unit-left"><span class="icon icon-xxs fa fa-phone"></span></div>
                <div class="unit-body"><a href="callto:#">{{ page.phone }}</a></div>
              </div>
              <div class="p unit unit-spacing-xs unit-horizontal offset-top-10">
                <div class="unit-left"><span class="icon icon-xxs fa fa-envelope"></span></div>
                <div class="unit-body"><a href="mailto:#">{{ page.email }}</a></div>
              </div>
            </address>
          </div>
          <div class="text-center text-lg-left offset-top-30">
          <ul class="list-inline">
	            <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darker-filled"></a></li>
	            <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darker-filled"></a></li>
	            <!--<li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled"></a></li>
	            <li><a href="#" class="icon fa fa-500px icon-xxs icon-circle icon-darkest-filled"></a></li>
	            <li><a href="#" class="icon fa fa-behance icon-xxs icon-circle icon-darkest-filled"></a></li>-->
          </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section RD Google Map-->
  <section class="offset-top-98">
    <!-- RD Google Map-->
    <!-- RD Google Map-->
    <div class="rd-google-map">
      <div id="rd-google-map"
              data-zoom="8"
              data-x="4.7168667"
              data-y="50.6873616"
              data-styles="[]"
              class="rd-google-map__model">
      </div>
    </div>
  </section>
</section>
{% endblock main %}