{% extends 'layout.html' %}

{% load staticfiles %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title=page.page_title icon=page.page_icon %}
{% endblock page_title %}

{% block main %}
<main class="page-content">
  <!-- Who we are?-->
<!--   <section>
     <div class="shell text-center">
        <h1>{{ page.page_subtitle }}</h1>
        <hr class="divider bg-mantis">
      </div>
  </section> -->
  <section> 
    <div class="shell section-bottom-85">
        {{ page.page_content }}
    </div>
  </section>
</main>
{% endblock main %}