{% extends 'layout.html' %}

{% load static wagtailimages_tags wagtailcore_tags %}

{% block content %}
<div class="shell">
  <div class="range range-sm-center range-lg-right">
    <div class="cell-sm-10 cell-md-8 cell-lg-7">
      <div class="inset-left-0 inset-md-right-20">
        <!-- Classic Thumbnail-->
        <!-- Classic Gallery Carousel-->
        <!-- Classic Thumbnail-->
        <!-- Embed Video-->
        <!-- Classic Soundcloud Player-->
        <!-- Section Blog Modern-->
        <section>
          <div class="post-modern-timeline-date text-sm-left">
            <time datetime="2016-01-01">24 Feb</time>
          </div>
                          <!-- Post Modern-->
                          <article class="post post-modern post-modern-timeline post-modern-timeline-left">
                            <!-- Post media-->
                            <!-- Post content-->
                            <section class="post-content text-left">
                              <ul class="list-inline">
                                <li>
                                  <div class="post-tags group-xs"><a href="blog-classic-single-post.html" class="label-custom label-lg-custom label-rounded-custom label-primary">News</a>
                                  </div>
                                </li>
                                <li>
                                  <div class="icon icon-xxs text-dark mdi mdi-pen"></div>
                                </li>
                              </ul>
                              <!-- Post Title-->
                              <div class="post-title">
                                <h6 class="offset-top-24"><a href="blog-classic-single-post.html">5 Steps to Blog’s Success</a></h6>
                              </div>
                              <!-- Post Body-->
                              <div class="post-body offset-top-20">
                                <p>Unfortunately people will not come to your blog just to see what you have published on it. To make sure that your blog becomes a successful one, you have to work on it to attract visitors interested in your content.</p>
                              </div>
                              <div class="post-author">
                                <div class="post-author-img"><img width="45" height="45" src="images/users/user-eugene-newman-60x60.jpg" alt="Eugene Newman" class="img-circle"></div>
                                <div class="post-author-name text-middle">Eugene Newman
                                </div>
                              </div>
                            </section>
                          </article>
          <div class="post-modern-timeline-date text-sm-left">
            <time datetime="2016-01-01">21 Feb</time>
          </div>
                          <!-- Post Modern-->
                          <article class="post post-modern post-modern-timeline post-modern-timeline-left">
                            <!-- Post media-->
                            <header class="post-media"><img width="570" height="321" src="images/blog/post-05-570x321.jpg" alt="" class="img-responsive img-cover">
                            </header>
                            <!-- Post content-->
                            <section class="post-content text-left">
                              <ul class="list-inline">
                                <li>
                                  <div class="post-tags group-xs"><a href="blog-classic-single-post.html" class="label-custom label-lg-custom label-rounded-custom label-primary">Business</a>
                                  </div>
                                </li>
                                <li>
                                  <div class="icon icon-xxs text-dark mdi mdi-image"></div>
                                </li>
                              </ul>
                              <!-- Post Title-->
                              <div class="post-title">
                                <h6 class="offset-top-24"><a href="blog-classic-single-post.html">Making Money Online with Your Computer Only</a></h6>
                              </div>
                              <!-- Post Body-->
                              <div class="post-body offset-top-20">
                                <p>Making money online is a kind of everyone’s dream job. No investments are needed and you can do whatever you need to do when you are in the mood or have free time.Flexible work schedule is something you’ll hardly get working at the office. However, online business rarely starts to bring you money from the very first day. It takes some time as a rule. But once you understand the whole process (like what are your abilities, where to work, for whom to work and so on) you'll be earning money in no time.</p>
                              </div>
                              <div class="post-author">
                                <div class="post-author-img"><img width="45" height="45" src="images/users/user-july-mao-60x60.jpg" alt="July Mao" class="img-circle"></div>
                                <div class="post-author-name text-middle">July Mao
                                </div>
                              </div>
                            </section>
                          </article>
                          <!-- Post Modern-->
                          <article class="post post-modern post-modern-timeline post-modern-timeline-left">
                            <!-- Post media-->
                            <header class="post-media">
                              <div class="post-inset">
                                                <div class="soundcloud-player-classic"><iframe height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/149065581&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe></div>
                              </div>
                            </header>
                            <!-- Post content-->
                            <section class="post-content text-left">
                              <ul class="list-inline">
                                <li>
                                  <div class="post-tags group-xs"><a href="blog-classic-single-post.html" class="label-custom label-lg-custom label-rounded-custom label-primary">Music</a>
                                  </div>
                                </li>
                                <li>
                                  <div class="icon icon-xxs text-dark mdi mdi-image"></div>
                                </li>
                              </ul>
                              <!-- Post Title-->
                              <div class="post-title">
                                <h6 class="offset-top-24"><a href="blog-classic-single-post.html">Proper Color Solutions For The Office</a></h6>
                              </div>
                              <!-- Post Body-->
                              <div class="post-body offset-top-20">
                              </div>
                              <div class="post-author">
                                <div class="post-author-img"><img width="45" height="45" src="images/users/user-john-doe-60x60.jpg" alt="John Doe" class="img-circle"></div>
                                <div class="post-author-name text-middle">John Doe
                                </div>
                              </div>
                            </section>
                          </article>
          <div class="post-modern-timeline-date text-sm-left">
            <time datetime="2016-01-01">19 Feb</time>
          </div>
                          <!-- Post Modern-->
                          <article class="post post-modern post-modern-timeline post-modern-timeline-left">
                            <!-- Post media-->
                            <header class="post-media">
                                              <div class="embed-responsive embed-responsive-16by9">
                                                <iframe src="//www.youtube.com/embed/-AhmuMqZB0s?wmode=transparent" class="embed-responsive-item"></iframe>
                                              </div>
                            </header>
                            <!-- Post content-->
                            <section class="post-content text-left">
                              <ul class="list-inline">
                                <li>
                                  <div class="post-tags group-xs"><a href="blog-classic-single-post.html" class="label-custom label-lg-custom label-rounded-custom label-primary">Music</a>
                                  </div>
                                </li>
                                <li>
                                  <div class="icon icon-xxs text-dark mdi mdi-image"></div>
                                </li>
                              </ul>
                              <!-- Post Title-->
                              <div class="post-title">
                                <h6 class="offset-top-24"><a href="blog-classic-single-post.html">Four Types of Verbal Communication.</a></h6>
                              </div>
                              <!-- Post Body-->
                              <div class="post-body offset-top-20">
                              </div>
                              <div class="post-author">
                                <div class="post-author-img"><img width="45" height="45" src="images/users/user-bernard-show-60x60.jpg" alt="Bernard Show" class="img-circle"></div>
                                <div class="post-author-name text-middle">Bernard Show
                                </div>
                              </div>
                            </section>
                          </article>
        </section>
        <footer class="offset-top-66">
          <div class="post-modern-timeline-left">
                            <!-- Bootstrap Pager-->
                            <nav>
                              <ul class="pager">
                                <li class="previous"><a href="#"><span aria-hidden="true" class="icon-left mdi mdi-arrow-left"></span>Older</a></li>
                                <li class="next"><a href="#">Newer<span aria-hidden="true" class="icon-right mdi mdi-arrow-right"></span></a></li>
                              </ul>
                            </nav>
          </div>
        </footer>
      </div>
    </div>
    <div class="cell-md-3 cell-lg-3 offset-top-66 offset-md-top-0">
      <!-- Section Blog Modern-->
      <aside class="text-left">
        <!-- Search Form-->
        <h6 class="text-uppercase text-spacing-60">Search</h6>
        <div class="text-subline"></div>
        <div class="offset-top-34">
                        <!-- RD Search Form-->
                        <form action="search-results.html" method="GET" class="form-search rd-search">
                          <div class="form-group">
                            <label for="blog-sidebar-2-form-search-widget" class="form-label form-search-label form-label-sm rd-input-label">Search</label>
                            <input id="blog-sidebar-2-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control input-sm">
                          </div>
                          <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                        </form>
        </div>
        <!-- Twitter Feed-->
        <h6 class="offset-top-41 text-uppercase text-spacing-60">Twitter Feed</h6>
        <div class="text-subline"></div>
        <div class="offset-top-34">
                        <div data-twitter-username="templatemonster" data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago" class="twitter">
                          <div data-twitter-type="tweet" class="twitter-sm" style="opacity: 1;">
                            <div data-date="text" class="twitter-date text-dark small">18 hours ago</div>
                            <div data-tweet="text" class="twitter-text">★★★★★
"It's a Wonderful Wordpress Theme With Lots of Features For Making the Best Website..." Review by Eva I.
<a href="https://cards.twitter.com/cards/pobfa/2hozi" target="_blank">cards.twitter.com/cards/pobfa/2h…</a> </div>
                            <div data-screen_name="text" class="twitter-name text-bold big"><a href="https://twitter.com/templatemonster" target="_blank" title="templatemonster on Twitter">@templatemonster</a></div>
                          </div>
                          <div data-twitter-type="tweet" class="twitter-sm" style="opacity: 1;">
                            <div data-date="text" class="twitter-date text-dark small">20 hours ago</div>
                            <div data-tweet="text" class="twitter-text">Attain New Knowledge &amp; Challenge Your Skills With <a href="https://twitter.com/TemplateMonster" target="_blank" title="TemplateMonster on Twitter">@TemplateMonster</a> <a href="https://twitter.com/search?q=%23Certification&amp;src=hash" target="_blank" title="Search for #Certification">#Certification</a> Center - <a href="https://goo.gl/bdDAww" target="_blank">goo.gl/bdDAww</a>  <a href="https://goo.gl/bdDAww" target="_blank">goo.gl/bdDAww</a> </div>
                            <div data-screen_name="text" class="twitter-name text-bold big"><a href="https://twitter.com/templatemonster" target="_blank" title="templatemonster on Twitter">@templatemonster</a></div>
                          </div>
                        <span id="loading_tweet" style="display: none;">Loading...</span></div>
        </div>
        <div class="range offset-top-41">
          <div class="cell-xs-6 cell-md-12">
            <!-- Category-->
            <h6 class="text-uppercase text-spacing-60">Categories</h6>
            <div class="text-subline"></div>
            <ul class="list list-marked offset-top-30">
              <li><a href="#">Web Design <span class="text-dark">(37)</span></a></li>
              <li><a href="#">UX <span class="text-dark">(211)</span></a></li>
              <li><a href="#">Marketing <span class="text-dark">(12)</span></a></li>
              <li><a href="#">Events <span class="text-dark">(7)</span></a></li>
              <li><a href="#">News <span class="text-dark">(15)</span></a></li>
            </ul>
          </div>
          <div class="cell-xs-6 cell-md-12 offset-top-41 offset-xs-top-0 offset-md-top-41">
            <!-- Archive-->
            <h6 class="text-uppercase text-spacing-60">Archive</h6>
            <div class="text-subline"></div>
            <ul class="list list-marked offset-top-30">
              <li><a href="#">January 2016 <span class="text-dark">(17)</span></a></li>
              <li><a href="#">December 2015 <span class="text-dark">(121)</span></a></li>
              <li><a href="#">November 2015 <span class="text-dark">(19)</span></a></li>
              <li><a href="#">October 2015 <span class="text-dark">(9)</span></a></li>
              <li><a href="#">September 2015 <span class="text-dark">(25)</span></a></li>
            </ul>
          </div>
        </div>
        <!-- Tags-->
        <h6 class="offset-top-41 text-uppercase text-spacing-60">Tags</h6>
        <div class="text-subline"></div>
        <div class="offset-top-34">
            <div class="group-xs"><a href="#" class="btn btn-xs btn-default">Web</a><a href="#" class="btn btn-xs btn-default">UX</a><a href="#" class="btn btn-xs btn-default">Marketing</a><a href="#" class="btn btn-xs btn-default">News</a><a href="#" class="btn btn-xs btn-default">Design</a><a href="#" class="btn btn-xs btn-default">Events</a>
            </div>
        </div>
      </aside>
    </div>
  </div>
</div>
{% endblock content %}