{% extends 'layout.html' %}

{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section class="context-dark">
  <!-- Swiper-->
  <div data-height="33%" data-min-height="600px" data-dots="true" class="swiper-container swiper-slider swiper-container-horizontal" style="height: 600px;">
    <div class="swiper-wrapper" style="transition-duration: 0ms; -webkit-transition-duration: 0ms; transform: translate3d(-1440px, 0px, 0px);"><div data-slide-bg="images/slide-03-1920x640.jpg" style="background-image: url(http://livedemo00.template-help.com/wt_58888_v6/intense-real-estate/images/slide-03-1920x640.jpg); background-size: cover; width: 1440px; background-position: 50% 50%;" class="swiper-slide swiper-slide-overlay-disable swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2"></div>
      <div data-slide-bg="images/slide-01-1920x640.jpg" style="background-image: url(http://livedemo00.template-help.com/wt_58888_v6/intense-real-estate/images/slide-01-1920x640.jpg); background-size: cover; width: 1440px; background-position: 50% 50%;" class="swiper-slide swiper-slide-overlay-disable swiper-slide-active" data-swiper-slide-index="0"></div>
      <div data-slide-bg="images/slide-02-1920x640.jpg" style="background-image: url(http://livedemo00.template-help.com/wt_58888_v6/intense-real-estate/images/slide-02-1920x640.jpg); background-size: cover; width: 1440px; background-position: 50% 50%;" class="swiper-slide swiper-slide-overlay-disable swiper-slide-next" data-swiper-slide-index="1"></div>
      <div data-slide-bg="images/slide-03-1920x640.jpg" style="background-image: url(http://livedemo00.template-help.com/wt_58888_v6/intense-real-estate/images/slide-03-1920x640.jpg); background-size: cover; width: 1440px; background-position: 50% 50%;" class="swiper-slide swiper-slide-overlay-disable" data-swiper-slide-index="2"></div>
    <div data-slide-bg="images/slide-01-1920x640.jpg" style="background-image: url(http://livedemo00.template-help.com/wt_58888_v6/intense-real-estate/images/slide-01-1920x640.jpg); background-size: cover; width: 1440px; background-position: 50% 50%;" class="swiper-slide swiper-slide-overlay-disable swiper-slide-duplicate" data-swiper-slide-index="0"></div></div>


    <div class="swiper-caption-wraper">
      <div class="shell section-41">
        <div class="range range-xs-center">
          <h1 class="text-bold">Professional realtor works for you</h1>
          <div class="cell-xs-10 cell-md-7 cell-lg-6">
            <div class="offset-top-24 offset-md-top-50 text-left">
              <!-- Responsive-tabs-->
              <div data-type="horizontal" class="responsive-tabs responsive-tabs-dashed" style="width: 100%;">
                <ul data-group="tabs-group-default" class="resp-tabs-list tabs-group-default">
                  <li class="resp-tab-item tabs-group-default resp-tab-active" aria-controls="tabs-group-default_tab_item-0" role="tab">sale </li>
                  <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-1" role="tab">rent</li>
                  <li class="resp-tab-item tabs-group-default" aria-controls="tabs-group-default_tab_item-2" role="tab">commercial</li>
                </ul>
                <div data-group="tabs-group-default" class="resp-tabs-container text-left tabs-group-default">
                  <div class="resp-accordion tabs-group-default resp-tab-active" role="tab" aria-controls="tabs-group-default_tab_item-0" style="background-image: none; background-position: initial initial; background-repeat: initial initial;"><span class="resp-arrow"></span>sale </div><div class="offset-md-top-10 resp-tab-content tabs-group-default resp-tab-content-active" aria-labelledby="tabs-group-default_tab_item-0" style="display:block">
                    <form>
                      <div class="group-sm group-top">
                        <div style="max-width: 390px" class="group-item element-fullwidth">
                          <div class="form-group">
                            <label for="home-tabs1-search-form-input" class="form-label rd-input-label">Search by City or Address:</label>
                            <input id="home-tabs1-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                          </div>
                        </div>
                        <button type="button" style="max-width: 120px" class="btn btn-primary element-fullwidth">search</button>
                      </div>
                    </form>
                  </div>
                  <div class="resp-accordion tabs-group-default" role="tab" aria-controls="tabs-group-default_tab_item-1"><span class="resp-arrow"></span>rent</div><div class="offset-md-top-10 resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-1">
                    <form>
                      <div class="group-sm group-top">
                        <div style="max-width: 390px" class="group-item element-fullwidth">
                          <div class="form-group">
                            <label for="home-tabs2-search-form-input" class="form-label rd-input-label">Search by  Address or City:</label>
                            <input id="home-tabs2-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                          </div>
                        </div>
                        <button type="button" style="max-width: 120px" class="btn btn-primary element-fullwidth">search</button>
                      </div>
                    </form>
                  </div>
                  <div class="resp-accordion tabs-group-default" role="tab" aria-controls="tabs-group-default_tab_item-2"><span class="resp-arrow"></span>commercial</div><div class="offset-md-top-10 resp-tab-content tabs-group-default" aria-labelledby="tabs-group-default_tab_item-2">
                    <form>
                      <div class="group-sm group-top">
                        <div style="max-width: 390px" class="group-item element-fullwidth">
                          <div class="form-group">
                            <label for="home-tabs3-search-form-input" class="form-label rd-input-label">Search by City or Address:</label>
                            <input id="home-tabs3-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                          </div>
                        </div>
                        <button type="button" style="max-width: 120px" class="btn btn-primary element-fullwidth">search</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-34">
  <div class="shell-fluid">
    <div class="range range-xs-center">
    {% if page.contents.all %}
      {% for content in page.contents.all %}
      <div class="cell-xs-8 cell-sm-6 cell-lg-3">
        <figure class="thumbnail-terry">
          <a href="{% pageurl content.related_page %}">
            {% image content.image width-450 as img%}
            <img style="height: 200px;" src="{{ img.file.url }}">
          </a>
          <figcaption>
            <div>
              <h4 class="thumbnail-terry-title">{{ content.name|title }}<br></h4>
            </div>
            <p class="thumbnail-terry-desc offset-top-0"></p>
            <a href="{% pageurl content.related_page %}" class="btn offset-top-10 offset-md-top-0 btn-primary">Naar pagina</a>
          </figcaption>
        </figure>
      </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
</section>

<!-- Who we are?-->
<section class="section-98 section-sm-110 bg-gray-darkest context-dark">
  <div class="shell-fluid">
    <div class="range range-sm-center text-center">
      <div class="cell-sm-8 cell-md-12">
        <div class="range">
          <div class="cell-md-3 cell-sm-6">
            <!-- Counter type 2-->
            <div class="counter-type-2">
              <span class="icon mdi mdi-vector-arrange-below text-mantis"></span>
              <div class="offset-top-10">
                <div data-speed="1000" data-from="0" data-to="8" class="h1 text-bold counter"></div>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Festivals</h6>
            </div>
          </div>
          <div class="cell-md-3 cell-sm-6 offset-top-66 offset-sm-top-0">
            <!-- Counter type 2-->
            <div class="counter-type-2">
              <span class="icon mdi mdi-account-multiple-outline text-malibu"></span>
              <div class="offset-top-10">
                <span data-speed="1000" data-from="0" data-to="43" class="h1 text-bold counter"></span>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Influencers</h6>
            </div>
          </div>
          <div class="cell-md-3 cell-sm-6 offset-top-66 offset-md-top-0">
            <!-- Counter type 2-->
            <div class="counter-type-2">
              <span class="icon mdi mdi-clock text-neon-carrot"></span>
              <div class="offset-top-10">
                <div data-speed="1000" data-from="0" data-to="1200" class="h1 text-bold counter"></div>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Magna Ligula</h6>
            </div>
          </div>
          <div class="cell-md-3 cell-sm-6 offset-top-66 offset-md-top-0">
            <!-- Counter type 2-->
            <div class="counter-type-2">
              <span class="icon mdi mdi-code-brackets text-ku-crimson"></span>
              <div class="offset-top-10">
                <span data-speed="1300" data-from="0" data-to="834" class="h1 text-bold counter"></span>
                <span class="h1 text-bold">K</span>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Amet Dapibus</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-98 section-sm-110">
  <div class="shell text-center">
    <h1>Onze Partners</h1>
    <hr class="divider bg-mantis">
    <div class="range range-xs-center range-lg-middle offset-top-66">
      <div class="cell-sm-10 cell-md-9 cell-lg-12">
        <div class="range">
          <div class="cell-sm-4 cell-lg-2"><a href="#"><img src="images/clients/client-01-169x68.png" width="169" height="68" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-sm-top-0"><a href="#"><img src="images/clients/client-02-126x68.png" width="126" height="68" alt="" class="img-semi-transparent"></a></div>
          <div class="range-spacer veil reveal-sm-inline-block offset-top-41 veil-sm"></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-sm-top-0"><a href="#"><img src="images/clients/client-03-126x100.png" width="126" height="100" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-04-95x101.png" width="95" height="101" alt="" class="img-semi-transparent"></a></div>
          <div class="range-spacer veil reveal-sm-inline-block offset-top-41 veil-sm"></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-05-149x102.png" width="149" height="102" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-06-141x88.png" width="141" height="88" alt="" class="img-semi-transparent"></a></div>
          <div class="range-spacer veil reveal-sm-inline-block offset-top-41 offset-lg-top-66 veil-sm reveal-lg-inline-block"></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-07-138x55.png" width="138" height="55" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"></a><img src="images/clients/client-08-104x84.png" width="104" height="84" alt="" class="img-semi-transparent"></div>
          <div class="range-spacer veil reveal-sm-inline-block offset-top-41 veil-sm"></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-09-144x68.png" width="144" height="68" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-10-105x94.png" width="105" height="94" alt="" class="img-semi-transparent"></a></div>
          <div class="range-spacer veil reveal-sm-inline-block offset-top-41 veil-sm"></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-11-132x83.png" width="132" height="83" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-11-132x83.png" width="113" height="85" alt="" class="img-semi-transparent"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}