{% extends 'layout.html' %}

{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% block title %}Yourin{% endblock %}

{% block content %}

  {% block page_title %}
    {% include 'home/partials/page_title.html' with title=yourin.catchphrase icon='' section='section-lg-top-110 section-sm-top-50 section-top-50' home='True' %}
  {% endblock page_title %}

<section class="text-center">
  <div data-on="false" data-md-on="true" class="rd-parallax">
<!--     <div id="home_intro_image" data-speed="0.35" data-type="media" data-url="{{ page.intro_image.file.url }}" class="rd-parallax-layer"> 
    </div> -->
    <div class="rd-parallax-layer-holder">
      <div data-speed="0" data-type="html" class="rd-parallax-layer">
        <div class="shell">
<!--           <h1 class="text-bold {{ page.catchphrase_color }}">{{ yourin.catchphrase }}</h1>
          <hr class="divider bg-mantis"> -->
          <div class="range range-xs-center offset-top-66">
        {% if page.contents.all %}
          {% for content in page.contents.all %}
            <div class="cell-sm-4">
              <a href="{{ content.related_page.url }}">
                <span class="icon icon-circle {{ content.icon }} icon-yourin"></span>
              </a>
              <div class="core-items">
                <a href="{{ content.related_page.url }}">
                  <h5 class="text-bold text-uppercase {{ content.text_color }}">{{ content.name|title }}</h5>
                </a>
              </div>
              <p class="text-light">{{ content.extra_info }}</p>
            </div>
          {% endfor %}
        {% else %}
            <div class="cell-sm-4">
              <a href="#">
                <span class="icon icon-circle mdi mdi-comment-text-outline icon-yourin"></span>
              </a>
              <div class="core-items">
                <a href="#"><h5 class="text-bold text-uppercase">Hier komen</h5></a>
              </div>
              <p class="text-light">De achtergrondafbeelding is instelbaar via de admin website, en wordt automatisch vrij donker gemaakt.</p>
            </div>
            <div class="cell-sm-4 offset-top-66 offset-sm-top-0">
              <a href="#">
                <span class="icon icon-circle mdi mdi-star icon-yourin"></span>
              </a>
              <div class="core-items">
                <a href="#"><h5 class="text-bold text-uppercase">de pijlers</h5></a>
              </div>
              <p class="text-light">Momenteel zijn er 3 pijlers, namelijk evenementen, festivals en influencers. Als er meer zijn moet ik kleine aanpassingen doorvoeren</p>
            </div>
            <div class="cell-sm-4 offset-top-66 offset-sm-top-0">
              <a href="#">
                <span class="icon icon-circle mdi mdi-domain icon-yourin"></span>
              </a>
              <div class="core-items">
                <a href="#"><h5 class="text-bold text-uppercase">van yourin</h5></a>
              </div>
              <p class="text-light">De links zijn vrij in te stellen naar de respectievelijke pagina's. Blabla bla, een beetje opvulling... </p>
            </div>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-85 text-center">
  <div class="shell-fluid">
    <h1>Recente gebeurtenissen</h1>
    <hr class="divider bg-mantis">
    <div class="range range-xs-center">
    {% if page.recents %}
      {% for key, value in page.recents.items %}
      <div class="cell-xs-8 cell-sm-6 cell-lg-3">
        <figure class="thumbnail-terry">
          <a href="{% pageurl value %}">
            {% image value.image width-450 as img %}
            <img style="height: 200px;" src="{{ img.file.url }}">
          </a>
          <figcaption>
            <div>
              <h4 class="thumbnail-terry-title">{% if key == 'blog' %}Blog{% elif key == 'festival' %}Festival{% elif key == 'kamp' %}Kamp{% endif %}<br></h4>
            </div>
            <p class="thumbnail-terry-desc offset-top-0">{{ value.title|title }}</p>
            <a href="{% pageurl value %}" class="btn offset-top-10 offset-md-top-0 btn-primary">{% if key == 'blog' %}Naar artikel{% elif key == 'festival' %}Naar Festival{% elif key == 'kamp' %}Meer info{% endif %}</a>
          </figcaption>
        </figure>
      </div>
      {% endfor %}
    {% else %}
      <div class="cell-xs-8 cell-sm-6 cell-lg-3">
        <figure class="thumbnail-terry">
          <a href="#">
            <img style="height: 200px;" src="{% static 'images/festival.jpg' %}">
          </a>
          <figcaption>
            <div>
              <h4 class="thumbnail-terry-title">Hier komen<br></h4>
            </div>
            <p class="thumbnail-terry-desc offset-top-0">Dit gebeurt volledig</p>
            <a href="#" class="btn offset-top-10 offset-md-top-0 btn-primary">Naar artikel</a>
          </figcaption>
        </figure>
      </div>
      <div class="cell-xs-8 cell-sm-6 cell-lg-3">
        <figure class="thumbnail-terry">
          <a href="#">
            <img style="height: 200px;" src="{% static 'images/cal_bg.jpg' %}">
          </a>
          <figcaption>
            <div>
              <h4 class="thumbnail-terry-title">links naar verschillende<br></h4>
            </div>
            <p class="thumbnail-terry-desc offset-top-0">automatisch op basis van</p>
            <a href="#" class="btn offset-top-10 offset-md-top-0 btn-primary">Naar evenement</a>
          </figcaption>
        </figure>
      </div>
      <div class="cell-xs-8 cell-sm-6 cell-lg-3">
        <figure class="thumbnail-terry">
          <a href="#">
            <img style="height: 200px;" src="{% static 'images/festival.jpg' %}">
          </a>
          <figcaption>
            <div>
              <h4 class="thumbnail-terry-title">events en gebeurtenissen<br></h4>
            </div>
            <p class="thumbnail-terry-desc offset-top-0">nieuwe artikels en nieuwe</p>
            <a href="#" class="btn offset-top-10 offset-md-top-0 btn-primary">Naar pagina</a>
          </figcaption>
        </figure>
      </div>
      <div class="cell-xs-8 cell-sm-6 cell-lg-3">
        <figure class="thumbnail-terry">
          <a href="#">
            <img style="height: 200px;" src="{% static 'images/cal_bg.jpg' %}">
          </a>
          <figcaption>
            <div>
              <h4 class="thumbnail-terry-title">te staan<br></h4>
            </div>
            <p class="thumbnail-terry-desc offset-top-0">evenementen</p>
            <a href="#" class="btn offset-top-10 offset-md-top-0 btn-primary">Ergens naartoe ...</a>
          </figcaption>
        </figure>
      </div>
    {% endif %}
    </div>
  </div>
</section>

<!-- Who we are?-->
      <h1 class="text-center">Enkele kerncijfers</h1>
      <hr class="divider bg-mantis">
<section class="section-98 section-sm-110 bg-gray-darkest context-dark">
  <div class="shell-fluid">
    <div class="range range-sm-center text-center">
      <div class="cell-sm-8 cell-md-12">
        <div class="range">
      {% if page.numbers.all %}
        {% for number in page.numbers.all %}
          <div class="cell-md-3 cell-sm-6">
            <!-- Counter type 2-->
            <div class="counter-type-2">
              <span class="icon {{ number.icon }} {{ number.icon_color }}"></span>
              <div class="offset-top-10">
                <div data-speed="1000" data-from="0" data-to="{{ number.value }}" class="h1 text-bold counter"></div>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">{{ number.name }}</h6>
            </div>
          </div>
        {% endfor %}
      {% else %}
          <div class="cell-md-3 cell-sm-6 offset-top-66 offset-sm-top-0">
            <div class="counter-type-2">
              <span class="icon mdi mdi-account-multiple-outline text-malibu"></span>
              <div class="offset-top-10">
                <span data-speed="1000" data-from="0" data-to="43" class="h1 text-bold counter"></span>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Dit zijn</h6>
            </div>
          </div>
          <div class="cell-md-3 cell-sm-6 offset-top-66 offset-md-top-0">
            <div class="counter-type-2">
              <span class="icon mdi mdi-clock text-neon-carrot"></span>
              <div class="offset-top-10">
                <div data-speed="1000" data-from="0" data-to="1200" class="h1 text-bold counter"></div>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Een aantal</h6>
            </div>
          </div>
          <div class="cell-md-3 cell-sm-6 offset-top-66 offset-md-top-0">
            <div class="counter-type-2">
              <span class="icon mdi mdi-code-brackets text-ku-crimson"></span>
              <div class="offset-top-10">
                <span data-speed="1300" data-from="0" data-to="834" class="h1 text-bold counter"></span>
                <span class="h1 text-bold">K</span>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Voorbeeld</h6>
            </div>
          </div>
          <div class="cell-md-3 cell-sm-6 offset-top-66 offset-md-top-0">
            <div class="counter-type-2">
              <span class="icon mdi mdi-clock text-neon-carrot"></span>
              <div class="offset-top-10">
                <div data-speed="1000" data-from="0" data-to="1200" class="h1 text-bold counter"></div>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Marketing cijfers</h6>
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-98 section-sm-110">
  <div class="shell text-center">
    <h1>Onze Partners</h1>
    <hr class="divider bg-mantis">
    <div class="range range-xs-center range-lg-middle offset-top-66">
      <div class="cell-sm-10 cell-md-9 cell-lg-12">
        <div class="range">
        {% if page.partners.all %}
          {% for partner in page.partners.all %}
          <div class="cell-sm-4 cell-lg-2">
            <a href="{{ partner.partner.website }}">
              {% image partner.partner.logo fill-180x180 %}
<!--               <img src="{{ img.file.url }}" width="169" height="68" class="img-semi-transparent">
 -->            </a>
          </div>
          {% endfor %}
        {% else %}
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-sm-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="126" height="68" alt="" class="img-semi-transparent">
            </a>
          </div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-sm-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="126" height="100" alt="" class="img-semi-transparent">
            </a>
          </div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="95" height="101" alt="" class="img-semi-transparent">
            </a>
          </div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="149" height="102" alt="" class="img-semi-transparent">
            </a>
          </div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="141" height="88" alt="" class="img-semi-transparent">
            </a>
          </div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="138" height="55" alt="" class="img-semi-transparent">
            </a>
          </div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="104" height="84" alt="" class="img-semi-transparent">
            </a>
          </div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="144" height="68" alt="" class="img-semi-transparent">
            </a>
          </div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="105" height="94" alt="" class="img-semi-transparent">
            </a>
          </div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="132" height="83" alt="" class="img-semi-transparent">
            </a>
          </div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0">
            <a href="#">
              <img src="{% static 'images/logo@2x.png' %}" width="113" height="85" alt="" class="img-semi-transparent">
            </a>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}