{% extends 'layout.html' %}

{% block content %}
<!-- Who we are?-->
<section class="section-98 section-sm-110 bg-gray-darkest context-dark">
  <div class="shell-fluid">
    <div class="range range-sm-center text-center">
      <div class="cell-sm-8 cell-md-12">
        <div class="range">
          <div class="cell-md-3 cell-sm-6">
            <!-- Counter type 2-->
            <div class="counter-type-2">
              <span class="icon mdi mdi-vector-arrange-below text-mantis"></span>
              <div class="offset-top-10">
                <div data-speed="1000" data-from="0" data-to="8" class="h1 text-bold counter"></div>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Festivals</h6>
            </div>
          </div>
          <div class="cell-md-3 cell-sm-6 offset-top-66 offset-sm-top-0">
            <!-- Counter type 2-->
            <div class="counter-type-2">
              <span class="icon mdi mdi-account-multiple-outline text-malibu"></span>
              <div class="offset-top-10">
                <span data-speed="1000" data-from="0" data-to="43" class="h1 text-bold counter"></span>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Influencers</h6>
            </div>
          </div>
          <div class="cell-md-3 cell-sm-6 offset-top-66 offset-md-top-0">
            <!-- Counter type 2-->
            <div class="counter-type-2">
              <span class="icon mdi mdi-clock text-neon-carrot"></span>
              <div class="offset-top-10">
                <div data-speed="1000" data-from="0" data-to="1200" class="h1 text-bold counter"></div>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Magna Ligula</h6>
            </div>
          </div>
          <div class="cell-md-3 cell-sm-6 offset-top-66 offset-md-top-0">
            <!-- Counter type 2-->
            <div class="counter-type-2">
              <span class="icon mdi mdi-code-brackets text-ku-crimson"></span>
              <div class="offset-top-10">
                <span data-speed="1300" data-from="0" data-to="834" class="h1 text-bold counter"></span>
                <span class="h1 text-bold">K</span>
              </div>
              <h6 class="text-uppercase text-bold text-spacing-60 offset-top-20">Amet Dapibus</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-98 section-sm-110">
  <div class="shell text-center">
    <h1>Onze Partners</h1>
    <hr class="divider bg-mantis">
    <div class="range range-xs-center range-lg-middle offset-top-66">
      <div class="cell-sm-10 cell-md-9 cell-lg-12">
        <div class="range">
          <div class="cell-sm-4 cell-lg-2"><a href="#"><img src="images/clients/client-01-169x68.png" width="169" height="68" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-sm-top-0"><a href="#"><img src="images/clients/client-02-126x68.png" width="126" height="68" alt="" class="img-semi-transparent"></a></div>
          <div class="range-spacer veil reveal-sm-inline-block offset-top-41 veil-sm"></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-sm-top-0"><a href="#"><img src="images/clients/client-03-126x100.png" width="126" height="100" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-04-95x101.png" width="95" height="101" alt="" class="img-semi-transparent"></a></div>
          <div class="range-spacer veil reveal-sm-inline-block offset-top-41 veil-sm"></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-05-149x102.png" width="149" height="102" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-06-141x88.png" width="141" height="88" alt="" class="img-semi-transparent"></a></div>
          <div class="range-spacer veil reveal-sm-inline-block offset-top-41 offset-lg-top-66 veil-sm reveal-lg-inline-block"></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-07-138x55.png" width="138" height="55" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"></a><img src="images/clients/client-08-104x84.png" width="104" height="84" alt="" class="img-semi-transparent"></div>
          <div class="range-spacer veil reveal-sm-inline-block offset-top-41 veil-sm"></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-09-144x68.png" width="144" height="68" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-10-105x94.png" width="105" height="94" alt="" class="img-semi-transparent"></a></div>
          <div class="range-spacer veil reveal-sm-inline-block offset-top-41 veil-sm"></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-11-132x83.png" width="132" height="83" alt="" class="img-semi-transparent"></a></div>
          <div class="cell-sm-4 cell-lg-2 offset-top-41 offset-lg-top-0"><a href="#"><img src="images/clients/client-11-132x83.png" width="113" height="85" alt="" class="img-semi-transparent"></a></div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}