/* WAGTAIL OVERRIDES */
.wagtail-userbar--bottom-right {
	left:2em;
}

/* INTENSE ALGEMEEN */
span.big {
	color: white;
}

div.veil {text-align: center;}

/* FONTS */
footer {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 200;
}
footer h6 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 400;
}


/* COLOR ADJUSTMENTS */
.label-danger {background-color: #e54044}

.rd-navbar-default.rd-navbar-static .rd-navbar-nav > li > a:after, .rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a:after {
	background: #e54044;
}

.bg-gray-base {background: #191919;}


/* RD CALENDAR */
/*.rdc-table_date.rdc-table_next {
	opacity: 0.2;
}
*/



/** 2.28 Breadcrumbs Addons */
.breadcrumb-classic {
  position: relative;
}

.breadcrumb-classic {
  fill: #55bbeb;
  background: #55bbeb;
  background: -moz-linear-gradient(90deg, #55bbeb 0%, #84c450 100%);
  background: -webkit-linear-gradient(90deg, #55bbeb 0%, #84c450 100%);
  background: -o-linear-gradient(90deg, #55bbeb 0%, #84c450 100%);
  background: -ms-linear-gradient(90deg, #55bbeb 0%, #84c450 100%);
  background: linear-gradient(90deg, #55bbeb 0%, #84c450 100%);
}

.breadcrumb-classic:before {
  fill: #55bbeb;
  background: #55bbeb;
  background: -moz-linear-gradient(270deg, #55bbeb 0%, #84c450 100%);
  background: -webkit-linear-gradient(270deg, #55bbeb 0%, #84c450 100%);
  background: -o-linear-gradient(270deg, #55bbeb 0%, #84c450 100%);
  background: -ms-linear-gradient(270deg, #55bbeb 0%, #84c450 100%);
  background: linear-gradient(270deg, #55bbeb 0%, #84c450 100%);
}

.breadcrumb-classic, .breadcrumb-classic a {
  color: #fff;
}

.breadcrumb-classic:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  animation: fadeBoth 6s infinite;
}

.breadcrumb-classic > *:not(svg) {
  position: relative;
  z-index: 1;
}

.breadcrumb-classic .svg-triangle-bottom {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 60px;
  height: 30px;
  margin-top: -1px;
  margin-left: -30px;
  z-index: 2;
}

.breadcrumb-default {
  padding: 28px 15px;
  background: #f7f7f7;
}

.breadcrumb-default > li {
  display: inline-block;
}

.breadcrumb-default > li a {
  color: #9b9b9b;
  font-size: 15px;
}

.breadcrumb-default > li a:hover {
  color: #55bbeb;
}

.breadcrumb-default > li + li {
  margin-left: 3px;
}

.breadcrumb-default > li + li:before {
  content: "";
  font-family: "Material Design Icons";
  color: #9b9b9b;
  padding-right: 4px;
}


