/* WAGTAIL OVERRIDES */
.wagtail-userbar--bottom-right {left:2em;}

.wagtail-userbar--bottom-right .wagtail-userbar-items:after {left: 1.45em;}

.wagtail-userbar--bottom-right .wagtail-userbar-items {left:0; width:22em;}

/* INTENSE ALGEMEEN */


.form-control.input-lg {
	font-size: 36px;
}

.form-control.input-sm{
	font-size: 22px;
}

.form-label-sm {
	font-size: 22px;
}

.form-label-sm.focus {

}

@media (min-width: 1200px) {
	div.shell.search-page {
		margin-top: -40px;
	}
}

.hr.hr-gradient{
	margin-top: 15px;
	margin-bottom: 0px;
}

q.text-italic.h3 {
	font-family: Lato, Helvetica, Arial, sans-serif;
}

span.big {color: white;}

div.veil {text-align: center;}

div.btn.btn-primary:hover, div.btn.btn-primary:focus, div.btn.btn-primary:active:hover{
  color: white;
  background-color: #e54044;;
  border-color: #e54044;
  pointer-events: none;
}
div.btn.btn-primary{
	pointer-events: none;
}

.section-top-15 {
  padding-top: 15px;
}

.section-bottom-20 {padding-bottom: 20px;}

.section-bottom-40 {padding-bottom: 40px;}

.section-10 {padding-top: 10px; padding-bottom: 10px;}

.section-24 {padding-top: 24px; padding-bottom: 24px;}

.list-inline > li  {
	padding-left: 2px;
	padding-right: 2px;
}

/* FONTS */
footer {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 200;
}
footer h6 {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

/* IMAGE EFFECTS */

 .thumbnail-terry, .thumbnail-terry > figure {
  position: relative;
  display: block; }

  .thumbnail-terry img, .thumbnail-terry figure img {
  width: 100%;
  height: auto;
  transition: .35s;
  will-change: transform; }

.thumbnail-terry figure figcaption, .thumbnail-terry figcaption {
	color:white;
  	position: absolute; }

.thumbnail-terry:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  background: #000;
  opacity: 0;
  -webkit-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
  z-index: 2; }

.thumbnail-terry figcaption {
  position: relative;
  top: -1px;
  width: 100%;
  padding: 20px 15px;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  background: #434345;
  backface-visibility: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
  z-index: 1; }

.thumbnail-terry img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.thumbnail-terry-title, .thumbnail-terry-desc {
  color: #fff;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px; }

.thumbnail-terry-desc {
  display: none; }

@media (min-width: 992px) {
  .thumbnail-terry:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0); }
  .thumbnail-terry,
  .thumbnail-terry > figure {
    overflow: hidden; }
  .thumbnail-terry-desc, .thumbnail-terry:before {
    display: block; }
  .thumbnail-terry img {
    border-radius: 5px; }
  .thumbnail-terry figcaption {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 30px 15px;
    background: transparent;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  .thumbnail-terry .btn, .thumbnail-terry .pagination-classic > li > a, .thumbnail-terry
  .pagination-classic > li > span {
    opacity: 0;
    -webkit-transform: translateY(100%) scale(0.8);
    transform: translateY(100%) scale(0.8); }
  .thumbnail-terry:hover .btn, .thumbnail-terry:hover .pagination-classic > li > a, .thumbnail-terry:hover
  .pagination-classic > li > span, .thumbnail-terry:hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); }
  .thumbnail-terry:hover:before {
    opacity: 0.25; } }

.tablet .thumbnail-terry .btn, .tablet .thumbnail-terry .pagination-classic > li > a, .tablet .thumbnail-terry
.pagination-classic > li > span, .tablet .thumbnail-terry figcaption {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1); }

.tablet .thumbnail-terry:before {
  opacity: 0.25; }


/* COLOR ADJUSTMENTS */
.label-danger {background-color: #e54044}

.btn-primary {background-color: #e54044; border-color: #e54044;}

.label-primary {background-color: #e54044; border-color: #e54044;}

.rdc-panel {background: #e54044}

.rdc-table_today {background-color: #e54044}

.pagination-classic > li + li:not(:last-child).active > a, .pagination-classic > li + li:not(:last-child).active > span {background: #e54044; border-color: #e3151e;}

.rd-navbar-default.rd-navbar-static .rd-navbar-nav > li > a:after, .rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a:after {
	background: #e54044;
}

.bg-gray-base {background: #191919;}

/* RD CALENDAR */
/*.rdc-table_date{background:orange; color:white;}*/

.rdc-table_date.rdc-table_prev, .rdc-table_date.rdc-table_next{opacity: 0.1}

/* ICON LINK ALTERATIONS */
a.icon-rect.fa-youtube-play:hover, a.icon-circle.fa-youtube-play:hover, a.icon-outlined.fa-youtube-play:hover, a.icon-rounded.fa-youtube-play:hover {
  color: #fff;
  background: #cc181e;
}

.cal_blog .fc-title:before {
  content: '\f27b';
  font-family: 'FontAwesome';
  font-size: 12px;
  margin-right: 5px; 
  color: white;
}

.cal_event .fc-title:before {
  content: '\f1e6';
  font-family: "Material Design Icons";
  font-size: 12px;
  margin-right: 5px; 
  color: white;
}

.icon-yourin {
	background: -moz-linear-gradient(45deg, #f8ba30 0%, #e54044 100%);
	background: -webkit-linear-gradient(45deg, #f8ba30 0%, #e54044 100%);
	background: -o-linear-gradient(45deg, #f8ba30 0%, #e54044 100%);
	background: -ms-linear-gradient(45deg, #f8ba30 0%, #e54044 100%);
	background: linear-gradient(45deg, #f8ba30 0%, #e54044 100%);
	color: #fff;
	border: none;
}

.breadcrumb-classic {
  fill: #f8ba30;
  background: #f8ba30;
  background: -moz-linear-gradient(90deg, #f8ba30 0%, #e54044 100%);
  background: -webkit-linear-gradient(90deg, #f8ba30 0%, #e54044 100%);
  background: -o-linear-gradient(90deg, #f8ba30 0%, #e54044 100%);
  background: -ms-linear-gradient(90deg, #f8ba30 0%, #e54044 100%);
  background: linear-gradient(90deg, #f8ba30 0%, #e54044 100%);
}

.breadcrumb-classic:before {
  fill: #f8ba30;
  background: #f8ba30;
  background: -moz-linear-gradient(270deg, #f8ba30 0%, #e54044 100%);
  background: -webkit-linear-gradient(270deg, #f8ba30 0%, #e54044 100%);
  background: -o-linear-gradient(270deg, #f8ba30 0%, #e54044 100%);
  background: -ms-linear-gradient(270deg, #f8ba30 0%, #e54044 100%);
  background: linear-gradient(270deg, #f8ba30 0%, #e54044 100%);
}

/* CUSTOM TOEVOEGINGEN */
.responsive-tabs-dashed .resp-tabs-list > li + li:before {
  position: absolute;
  left: -20px;
  content: '';
  height: 100%;
  width: 1px;
  background: #9b9b9b;
}

.responsive-tabs-dashed .resp-tabs-list > li + li {
  padding: 0;
  margin-left: 39px;
}

.text-green {
  color: #42B574;
  background-image: -webkit-linear-gradient(0deg, #42b574 0%, #84c450 100%);
}

.text-yellow {
  color: yellow;
}

.text-black {
  color: #222;
}

.section-custom-image-aside-img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 57vw;
  -webkit-background-size: cover;
  background-size: cover;
}

div#home_intro_image {
	-moz-filter: brightness(60%);
	-webkit-filter: brightness(60%);
	-o-filter: brightness(60%);
	-ms-filter: brightness(60%);
	filter: brightness(60%);

}

div.core-items {
	margin-top: 29px;
	margin-bottom: 19px;
}
.icon-xxxs{
	font-size: 16px;
	line-height: 16px;		
}