{% extends 'layout.html' %}

{% load wagtailcore_tags %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='Influencers' icon='mdi mdi-account-circle' %}
{% endblock page_title %}

{% block main %}
<section class="section-98 section-sm-110">
  <div class="shell text-center">
    <h1>Our Dream Team</h1>
    <hr class="divider bg-danger">
    <div class="range range-xs-center offset-top-50 offset-lg-top-66">
      <div class="cell-sm-10 cell-lg-8">
        <p>We are proud to have a friendly and solid team of award-winning coaches working at Intense. They are not just professionals, they also deeply understand the needs of our clients.</p>
      </div>
    </div>
    <div class="range range-xs-center offset-sm-top-50 offset-lg-top-66">
      <div class="cell-sm-10 cell-lg-12">
        <div class="range">
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-xs-top-0">
            <!-- Box Member-->
            <div class="box-member"><img src="images/user-ryan-jackson-270x270.jpg" alt="" class="img-responsive">
              <h5 class="text-bold offset-top-20"><a href="about-coach.html">Ryan Jackson</a> <small class="text-danger">CrossFit</small>
              </h5>
              <div class="box-member-wrap">
                <div class="box-member-caption">
                  <div class="box-member-caption-inner">
                    <ul class="list-inline list-inline-xs">
                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="offset-lg-top-0 text-muted">He has more than 10 years of experience in CrossFit and professional athletics.</p>
            <h4 class="offset-top-20 text-danger">$80,00<span class="p small"><span class="small text-darker">/hour</span></span></h4><a href="{% slugurl 'influencer-1' %}" class="btn btn-danger">Meer info</a>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-sm-top-0 offset-lg-top-0">
            <!-- Box Member-->
            <div class="box-member"><img src="images/user-emily-perkins-270x270.jpg" alt="" class="img-responsive">
              <h5 class="text-bold offset-top-20"><a href="about-coach.html">Emily Perkins</a> <small class="text-danger">Fitness</small>
              </h5>
              <div class="box-member-wrap">
                <div class="box-member-caption">
                  <div class="box-member-caption-inner">
                    <ul class="list-inline list-inline-xs">
                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="offset-lg-top-0 text-muted">Emily can teach you all peculiarities of fitness and aerobics in a group or individually.</p>
            <h4 class="offset-top-20 text-danger">$20,00<span class="p small"><span class="small text-darker">/hour</span></span></h4><a href="#" class="btn btn-danger">Meer info</a>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-lg-top-0">
            <!-- Box Member-->
            <div class="box-member"><img src="images/user-samantha-ruiz-270x270.jpg" alt="" class="img-responsive">
              <h5 class="text-bold offset-top-20"><a href="about-coach.html">Samantha Ruiz</a> <small class="text-danger">Yoga</small>
              </h5>
              <div class="box-member-wrap">
                <div class="box-member-caption">
                  <div class="box-member-caption-inner">
                    <ul class="list-inline list-inline-xs">
                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="offset-lg-top-0 text-muted">Our leading yoga coach, Samantha will help you reach full harmony with your body.</p>
            <h4 class="offset-top-20 text-danger">$35,00<span class="p small"><span class="small text-darker">/hour</span></span></h4><a href="#" class="btn btn-danger">Meer info</a>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-lg-top-0">
            <!-- Box Member-->
            <div class="box-member"><img src="images/user-austin-ortiz-270x270.jpg" alt="" class="img-responsive">
              <h5 class="text-bold offset-top-20"><a href="about-coach.html">Austin Ortiz</a> <small class="text-danger">Bodybuilding</small>
              </h5>
              <div class="box-member-wrap">
                <div class="box-member-caption">
                  <div class="box-member-caption-inner">
                    <ul class="list-inline list-inline-xs">
                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="offset-lg-top-0 text-muted">Austin is not only our most called-for coach, but also a winner of many championships.</p>
            <h4 class="offset-top-20 text-danger">$50,00<span class="p small"><span class="small text-darker">/hour</span></span></h4><a href="#" class="btn btn-danger">Meer info</a>
          </div>
          <div class="range-spacer offset-top-66"></div>
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-xs-top-0">
            <!-- Box Member-->
            <div class="box-member"><img src="images/user-alisa-milano-270x270.jpg" alt="" class="img-responsive">
              <h5 class="text-bold offset-top-20"><a href="about-coach.html">Alisa Milano</a> <small class="text-danger">Fitness</small>
              </h5>
              <div class="box-member-wrap">
                <div class="box-member-caption">
                  <div class="box-member-caption-inner">
                    <ul class="list-inline list-inline-xs">
                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="offset-lg-top-0 text-muted">She is one of our youngest trainers who, however, has a lot of experience in fitness.</p>
            <h4 class="offset-top-20 text-danger">$20,00<span class="p small"><span class="small text-darker">/hour</span></span></h4><a href="#" class="btn btn-danger">Meer info</a>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-sm-top-0 offset-lg-top-0">
            <!-- Box Member-->
            <div class="box-member"><img src="images/user-roy-jons--270x270.jpg" alt="" class="img-responsive">
              <h5 class="text-bold offset-top-20"><a href="about-coach.html">Roy Jons</a> <small class="text-danger">CrossFit</small>
              </h5>
              <div class="box-member-wrap">
                <div class="box-member-caption">
                  <div class="box-member-caption-inner">
                    <ul class="list-inline list-inline-xs">
                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="offset-lg-top-0 text-muted">He is known for his unique methods of CrossFit training that give amazing results.</p>
            <h4 class="offset-top-20 text-danger">$70,00<span class="p small"><span class="small text-darker">/hour</span></span></h4><a href="#" class="btn btn-danger">Meer info</a>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-lg-top-0">
            <!-- Box Member-->
            <div class="box-member"><img src="images/user-emily-blunt-270x270.jpg" alt="" class="img-responsive">
              <h5 class="text-bold offset-top-20"><a href="about-coach.html">Emily Blunt</a> <small class="text-danger">Fitness</small>
              </h5>
              <div class="box-member-wrap">
                <div class="box-member-caption">
                  <div class="box-member-caption-inner">
                    <ul class="list-inline list-inline-xs">
                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="offset-lg-top-0 text-muted">Fitness workouts with Emily will help you acquire the perfect shape of your body.</p>
            <h4 class="offset-top-20 text-danger">$40,00<span class="p small"><span class="small text-darker">/hour</span></span></h4><a href="#" class="btn btn-danger">Meer info</a>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-lg-top-0">
            <!-- Box Member-->
            <div class="box-member"><img src="images/user-flen-johnson-270x270.jpg" alt="" class="img-responsive">
              <h5 class="text-bold offset-top-20"><a href="about-coach.html">Glen Johnson</a> <small class="text-danger">Bodybuliding</small>
              </h5>
              <div class="box-member-wrap">
                <div class="box-member-caption">
                  <div class="box-member-caption-inner">
                    <ul class="list-inline list-inline-xs">
                      <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darkest-filled"></a></li>
                      <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darkest-filled"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <p class="offset-lg-top-0 text-muted">Glenn is the real professional when it comes to effective bodybuilding training.</p>
            <h4 class="offset-top-20 text-danger">$55,00<span class="p small"><span class="small text-darker">/hour</span></span></h4><a href="#" class="btn btn-danger">Meer info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="shell text-center">
    <h1>Member Boxes Type 1</h1>
    <hr class="divider bg-mantis">
    <div class="range range-xs-center offset-top-66">
      <div class="cell-sm-8 cell-lg-12">
        <div class="range">
          <div class="cell-sm-6 cell-lg-3"><img src="images/users/user-john-doe-140x140.jpg" width="140" height="140" alt="" class="img-circle img-responsive center-block">
            <div class="offset-top-24">
              <h5 class="text-bold"><a href="#">John Doe</a></h5>
            </div>
            <p class="offset-top-4 small text-bold text-malibu">Software Developer</p>
            <hr class="divider">
            <ul class="list-inline list-inline-xs">
              <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darker-filled"></a></li>
            </ul>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-sm-top-0"><img src="images/users/user-july-mao-140x140.jpg" width="140" height="140" alt="" class="img-circle img-responsive center-block">
            <div class="offset-top-24">
              <h5 class="text-bold"><a href="#">July Mao</a></h5>
            </div>
            <p class="offset-top-4 small text-bold text-malibu">Support Operator</p>
            <hr class="divider">
            <ul class="list-inline list-inline-xs">
              <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darker-filled"></a></li>
            </ul>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-lg-top-0"><img src="images/users/user-bernard-show-140x140.jpg" width="140" height="140" alt="" class="img-circle img-responsive center-block">
            <div class="offset-top-24">
              <h5 class="text-bold"><a href="#">Bernard Show</a></h5>
            </div>
            <p class="offset-top-4 small text-bold text-malibu">Creative Director</p>
            <hr class="divider">
            <ul class="list-inline list-inline-xs">
              <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darker-filled"></a></li>
            </ul>
          </div>
          <div class="cell-sm-6 cell-lg-3 offset-top-66 offset-lg-top-0"><img src="images/users/user-ronald-oswald-140x140.jpg" width="140" height="140" alt="" class="img-circle img-responsive center-block">
            <div class="offset-top-24">
              <h5 class="text-bold"><a href="#">Ronald Oswald</a></h5>
            </div>
            <p class="offset-top-4 small text-bold text-malibu">Founder, Sales</p>
            <hr class="divider">
            <ul class="list-inline list-inline-xs">
              <li><a href="#" class="icon fa fa-facebook icon-xs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-twitter icon-xs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-google-plus icon-xs icon-circle icon-darker-filled"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock main%}