{% extends 'layout.html' %}

{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='Influencers' icon='mdi mdi-account-circle' %}
{% endblock page_title %}

{% block main %}
<section>
  <div class="shell text-center">
    <h1>Ontmoet Onze Influencers</h1>
    <hr class="divider bg-mantis">
    <div class="range range-xs-center offset-top-66">
      <div class="cell-lg-12">
        <div class="range">
        {% if page.influencers %}
          {% for influencer in page.influencers %}
          <div class="cell-xs-4 cell-md-3 cell-lg-2 section-bottom-41">
            {% image influencer.image fill-140x140 as img %}
              <a href="{% pageurl influencer %}">
                <img src="{{ img.file.url}} " width="140" height="140" alt="" class="img-circle img-responsive center-block">
              </a>
            <div class="offset-top-24">
              <h5 class="text-bold"><a href="#">{{ influencer.title }}</a></h5>
            </div>
            <p class="offset-top-4 small text-bold text-malibu">{{ influencer.num_followers }} Youtube subscribers</p>
            <!-- <hr class="divider"> -->
            <ul class="list-inline list-inline-xs">
              {% for link in influencer.related_links.all %}
                <li><a href="{{ link.link }}" class="icon {{ link.icon }} icon-xxs icon-circle icon-darker-filled"></a></li>
              {% endfor %}
              <!-- <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darker-filled"></a></li> -->
            </ul>
          </div>    
          {% endfor %}
        {% else %}
         <div class="cell-xs-4 cell-md-3 cell-lg-2">
            <img src="{% static 'images/users/user-john-doe-140x140.jpg' %}" width="140" height="140" alt="" class="img-circle img-responsive center-block">
            <div class="offset-top-24">
              <h5 class="text-bold"><a href="#">Wij verdwijnen</a></h5>
            </div>
            <p class="offset-top-4 small text-bold text-malibu">Dummy influencer</p>
            <hr class="divider">
            <ul class="list-inline list-inline-xs">
              <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darker-filled"></a></li>
            </ul>
          </div>
          <div class="cell-xs-4 cell-md-3 cell-lg-2">
          <img src="{% static 'images/users/user-july-mao-140x140.jpg' %}" width="140" height="140" alt="" class="img-circle img-responsive center-block">
            <div class="offset-top-24">
              <h5 class="text-bold"><a href="#">Zodra er </a></h5>
            </div>
            <p class="offset-top-4 small text-bold text-malibu">Dummy influencer</p>
            <hr class="divider">
            <ul class="list-inline list-inline-xs">
              <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darker-filled"></a></li>
            </ul>
          </div>
          <div class="cell-xs-4 cell-md-3 cell-lg-2">
          <img src="{% static 'images/users/user-bernard-show-140x140.jpg' %}" width="140" height="140" alt="" class="img-circle img-responsive center-block">
            <div class="offset-top-24">
              <h5 class="text-bold"><a href="#">Echte influencers</a></h5>
            </div>
            <p class="offset-top-4 small text-bold text-malibu">Dummy influencer</p>
            <hr class="divider">
            <ul class="list-inline list-inline-xs">
              <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darker-filled"></a></li>
            </ul>
          </div>
          <div class="cell-xs-4 cell-md-3 cell-lg-2">
          <img src="{% static 'images/users/user-ronald-oswald-140x140.jpg' %}" width="140" height="140" alt="" class="img-circle img-responsive center-block">
            <div class="offset-top-24">
              <h5 class="text-bold"><a href="#">Zijn aangemaakt</a></h5>
            </div>
            <p class="offset-top-4 small text-bold text-malibu">Dummy influencer</p>
            <hr class="divider">
            <ul class="list-inline list-inline-xs">
              <li><a href="#" class="icon fa fa-facebook icon-xxs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-twitter icon-xxs icon-circle icon-darker-filled"></a></li>
              <li><a href="#" class="icon fa fa-google-plus icon-xxs icon-circle icon-darker-filled"></a></li>
            </ul>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock main%}