{% extends 'layout.html' %}

{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='Influencers' icon='mdi mdi-account-circle' %}
{% endblock page_title %}

{% block main %}
<section>
  <div class="shell section-bottom-40">
    <div class="range range-xs-center">
      <div class="cell-xs-10 cell-sm-5">
        <!-- Member block type 5-->
        <div class="member-block-type-5 inset-md-right-20">
          {% image page.image original as img %}
          <img src="{{ img.file.url }}" width="437" height="437" alt="" class="img-responsive center-block">
          <div class="member-block-body">
            <!-- <div class="btn btn-block btn-primary">
              <i class="fa fa-arrow-down"></i> Volg mij! <i class="fa fa-arrow-down"></i>
            </div> -->
            <div class="offset-top-34">
              <ul class="list-inline list-inline-xs text-center">
              {% for link in page.related_links.all %}
                <li><a href="{{ link.link }}" class="icon {{ link.icon }} icon-xs icon-circle icon-darker-filled"></a></li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-xs-10 cell-sm-7 text-sm-left">
        <div>
          <h1>{{ page.title }}</h1>
        </div>
        <!-- <p class="small text-darker offset-top-4">UI/UX Designer</p> -->
        <hr class="divider bg-mantis hr-sm-left-0">
        <p class="text-left">
          {{ page.extra_info }}
        </p>
        {% if page.quote %}
        <div class="offset-top-30 text-center">
          <p>
            <q class="text-italic h3 text-bold">
              {{ page.quote }}
            </q>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock main %}