{% extends 'layout.html' %}

{% load staticfiles %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='kalender' icon='fa fa-calendar' %}
{% endblock page_title %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/fullcalendar.css' %}">
<!--   <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">
 -->{% endblock %}

{% block main %}
<section class="bg-overlay-white">
  <div class="shell-wide">
      <div id="fullcalendar"></div>
  </div>
</section>
<section id="rd-event-calendar-demo" class="bg-overlay-white">
  <div class="shell-wide">
      <div class="rd-calendar-fullwidth">
        <div class="rd-calendar">
          <div class="rdc-panel"><a class="rdc-next"></a><a class="rdc-prev"></a>
            <div class="rdc-month">May</div>
            <div class="rdc-fullyear">2016</div>
          </div>
          <div class="rdc-table"></div>
          <div class="rdc-events">
            <ul>
              <li data-date="11/20/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-11-20" class="text-dark">Event 1</time>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="11/18/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-11-18" class="text-dark">Event 3</time>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="05/07/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="05/08/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="05/13/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="05/17/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="06/06/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="06/07/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="06/13/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="06/17/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</section>
{% endblock main %}

{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.js"></script>
<!--   <script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
 -->  <script type="text/javascript" src="{% static 'js/nl.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#fullcalendar').fullCalendar({
        // put your options and callbacks here
        locale: 'nl',
        fixedWeekCount: false,
        header: {
          left:   'prev',
          center: 'title',
          right:  'next'
        }
    })

});
  </script>
{% endblock extra_js %}