{% extends 'layout.html' %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='kalender' icon='fa fa-calendar' %}
{% endblock page_title %}

{% block main %}
<section id="rd-event-calendar-demo" class="bg-overlay-white">
  <div class="shell-wide">
      <div class="rd-calendar-fullwidth">
        <div class="rd-calendar">
          <div class="rdc-panel"><a class="rdc-next"></a><a class="rdc-prev"></a>
            <div class="rdc-month">May</div>
            <div class="rdc-fullyear">2016</div>
          </div>
          <div class="rdc-table"><table><tbody><tr><th class="rdc-table_day">S</th><th class="rdc-table_day">M</th><th class="rdc-table_day">T</th><th class="rdc-table_day">W</th><th class="rdc-table_day">T</th><th class="rdc-table_day">F</th><th class="rdc-table_day">S</th></tr><tr><td><div class="rdc-table_date">1</div></td><td><div class="rdc-table_date">2</div></td><td><div class="rdc-table_date">3</div></td><td><div class="rdc-table_date">4</div></td><td><div class="rdc-table_date">5</div></td><td class="rdc-table_has-events"><div class="rdc-table_date">6</div><div class="rdc-table_events-count">1</div><ul class="rdc-table_events"><li class="rdc-table_event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li></ul></td><td class="rdc-table_has-events"><div class="rdc-table_date">7</div><div class="rdc-table_events-count">1</div><ul class="rdc-table_events"><li class="rdc-table_event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li></ul></td></tr><tr><td class="rdc-table_has-events"><div class="rdc-table_date">8</div><div class="rdc-table_events-count">1</div><ul class="rdc-table_events"><li class="rdc-table_event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li></ul></td><td><div class="rdc-table_date">9</div></td><td><div class="rdc-table_date">10</div></td><td><div class="rdc-table_date">11</div></td><td><div class="rdc-table_date">12</div></td><td class="rdc-table_has-events"><div class="rdc-table_date">13</div><div class="rdc-table_events-count">1</div><ul class="rdc-table_events"><li class="rdc-table_event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li></ul></td><td><div class="rdc-table_date">14</div></td></tr><tr><td><div class="rdc-table_date">15</div></td><td><div class="rdc-table_date">16</div></td><td class="rdc-table_has-events"><div class="rdc-table_date">17</div><div class="rdc-table_events-count">1</div><ul class="rdc-table_events"><li class="rdc-table_event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li></ul></td><td><div class="rdc-table_date">18</div></td><td><div class="rdc-table_date">19</div></td><td><div class="rdc-table_date">20</div></td><td><div class="rdc-table_date">21</div></td></tr><tr><td><div class="rdc-table_date">22</div></td><td><div class="rdc-table_date">23</div></td><td><div class="rdc-table_date">24</div></td><td><div class="rdc-table_date">25</div></td><td><div class="rdc-table_date">26</div></td><td><div class="rdc-table_date">27</div></td><td><div class="rdc-table_date">28</div></td></tr><tr><td><div class="rdc-table_date">29</div></td><td><div class="rdc-table_date">30</div></td><td><div class="rdc-table_date">31</div></td><td><div class="rdc-table_date rdc-table_next">1</div></td><td><div class="rdc-table_date rdc-table_next">2</div></td><td><div class="rdc-table_date rdc-table_next">3</div></td><td><div class="rdc-table_date rdc-table_next">4</div></td></tr></tbody></table></div>
          <div class="rdc-events text-left"><a class="rdc-events_close"></a>
            <ul>
              <li data-date="05/06/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="05/07/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="05/08/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="05/13/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="05/17/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="06/06/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="06/07/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="06/13/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
              <li data-date="06/17/2016" class="rdc-event">
                <div class="rdc-event-wrap bg-saffron-tilt">
                  <article class="post widget-event">
                    <div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
                      <time datetime="2016-01-01" class="text-dark">10:00 am,11:00 am,12:00 am,01:00 pm</time>
                    </div>
                    <div class="post-title">
                      <h6 class="text-regular"><a href="#"></a></h6>
                    </div>
                  </article>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</section>
{% endblock main %}