{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/dark.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-icons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/yourin.css' %}"/>
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="no-transition stretched">
        {% wagtailuserbar %}

        <div id="wrapper" class="clearfix noshadow">
            <header id="header">
                {% block header %}{% endblock header %}
            </header>
            <section id="content">
                <div class="content-wrap">
                    {% block content %}{% endblock content %}
                </div>
            </section>
            <footer id="footer" class="dark">
                {% block footer %}{% endblock footer %}
            </footer>
        </div>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/functions.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
