{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,700,900%7CYesteryear">
<!--         <link rel="stylesheet" type="text/css" href="{% static 'css/style-sunset.css' %}"/>
 -->        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/yourin.css' %}"/>
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body>
        {% wagtailuserbar %}
        <div class="page">
            <header class="page-head slider-menu-position">
                {% block header %}{% endblock header %}
            </header>
            <main class="page-content">
                {% block content %}{% endblock content %}
            </main>
            <footer class="page-footer section-relative section-top-41 section-bottom-20 bg-gray-base context-dark">
                {% block footer %}{% endblock footer %}
            </footer>
        </div>

        {# Global javascript #}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
            <script type="text/javascript" src="{% static 'js/core.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<!--             <script type="text/javascript" src="{% static 'js/html5shiv.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/pointer-events.min.js' %}"></script>  -->        
        {% endblock %}
    </body>
</html>
