{% extends 'layout.html' %}

{% load staticfiles wagtailimages_tags wagtailcore_tags yourin_tags %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='blog' icon='fa fa-commenting-o' %}
{% endblock page_title %}

{% block main %} 
	<div class="shell">
    <div class="range range-sm-center range-lg-left">
      <div class="cell-md-8 cel-lg-9">
        <div class="inset-md-right-20">                
          <!-- Events list-->
          <section>
            <!-- Post Event-->
        {% if page.blogs %}
          {% for blog in page.blogs %}
            <article class="post post-event section-bottom-40">
              <header class="post-media">
                <div data-photo-swipe="gallery">
                  <a class="thumbnail-classic" href="{% pageurl blog %}">
                    {% image blog.image fill-600x200 as img %}
                    <figure>
                      <img src="{{ img.file.url }}" alt="">
                    </figure>
                  </a>
                </div>
              </header>
              <!-- Post content-->
              <section class="post-content text-left offset-top-41">
                <h3 class="offset-top-10"><a href="{% pageurl blog %}">{{ blog.title }}</a></h3>
                <div class="post-body">
                  <div class="inset-md-right-115">
                  {% if blog.intro_text %}
                    <p>{{ blog.intro_text|richtext }}</p>
                  {% endif %}
                  </div>
                </div>
                <a href="{% pageurl blog %}" class="btn btn-sm btn-primary offset-top-30">Lees Verder</a>
                <!-- Post meta-->
                <div class="post-meta context-dark">
                  <time datetime="{{ blog.date|date:'Y-m-d'}}"><span class="post-meta-day">{{ blog.date|date:'d'}}</span><span class="big text-uppercase post-meta-month">{{ blog.date|date:'b'|upper }}</span></time>
                </div>
              </section>
              {% if not forloop.last %}
              <hr class="hr bg-gray">
              {% endif  %}
            </article>
          {% endfor %}
        {% else %}
            <article class="post post-event">
              <!-- Post media-->
              <header class="post-media">
                <div data-photo-swipe="gallery">
                  <a class="thumbnail-classic" href="#">
                    <figure>
                      <img width="570" height="150" src="{% static 'images/blog/post-02-570x321.jpg' %}" alt="">
                    </figure>
                  </a>
                </div>
              </header>
              <!-- Post content-->
              <section class="post-content text-left offset-top-41">
                <!-- Post Title-->
                <h3 class="offset-top-10"><a href="events-list-single-left-sidebar.html">Dit is een voorbeeld</a></h3>
                <!-- Post Body-->
                <div class="post-body">
                  <div class="inset-md-right-115">
                    <p>Er zijn nog geen blog posts aangemaakt, vandaar deze tekst. Dit is een dummy blog post, en zal niet meer zichtbaar zijn zodra de eerste blog is geschreven</p>
                  </div>
                </div><a href="#" class="btn btn-sm btn-primary offset-top-30">Lees Verder</a>
                <!-- Post meta-->
                <div class="post-meta context-dark">
                  <time datetime="2016-01-01"><span class="post-meta-day">8</span><span class="big text-uppercase post-meta-month">Mar</span></time>
                </div>
              </section>
            </article>
            <hr class="hr bg-lighter offset-top-41 offset-sm-top-66">
        {% endif %}

            <div class="offset-top-66">
              <!-- Classic Pagination-->
              {% if blogs.has_other_pages %}
              <nav>
                <ul class="pagination-classic">
                {% if blogs.has_previous %}
                  <li><a href="?page={{ blogs.previous_page_number }}">Vorige</a></li>
                {% endif %}
                  {% for i in blogs.paginator.page_range %}
                    {% if blogs.number == i %}
                    <li class="active"><a>{{ i }}</a></li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}
                {% if blogs.has_next %}
                <li><a href="?page={{ blogs.next_page_number }}">Volgende</a></li>
                  {% endif %}
                </ul>
              </nav>
              {% endif %}
              <div style="height: 20px;"></div>
            </div>
          </section>
        </div>
      </div>
      <div class="cell-md-4 offset-top-66 offset-md-top-0 cell-lg-3">
        <!-- Section Blog Events-->
        <aside class="text-left">
          <div class="range">
            <div class="cell-sm-6 cell-md-12 offset-sm-top-41 offset-md-top-0">
              <!-- RD calendar-->
            </div>
            <!-- Recent Events-->
            <div class="cell-sm-6 cell-md-12 offset-top-41">
              <h6 class="text-uppercase text-spacing-60">Recente artikels</h6>
              <div class="text-subline"></div>
                <!-- Event Widget-->
          {% if recent_blogs %}
            {% for blog in recent_blogs %}
              <div class="offset-top-34">
                <article class="post widget-event text-left">
                  <a href="{% pageurl blog %}">
                    <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                      {% image blog.image fill-100x100 as img %}
                      <div class="unit-left"><img width="46" height="46" src="{{ img.file.url }}" class="img-circle"></div>
                      <div class="unit-body">
                        <div class="post-meta">
                          <ul class="list-inline list-inline-sm">
                            <li><span class="icon-xxs text-picton-blue mdi mdi-calendar"></span>
                              <time datetime="2016-01-01" class="text-dark">{{ blog.date|date:'j F'}}</time>
                            </li>
                            <!-- <li><span class="icon-xxs text-picton-blue mdi mdi-clock"></span>
                              <time datetime="2016-01-01" class="text-dark">9:00 PM</time>
                            </li> -->
                          </ul>
                        </div>
                        <div class="post-title">
                          <h6 class="text-regular">{{ blog.title }}</h6>
                        </div>
                      </div>
                    </div>
                  </a>
                </article>
              </div>
            {% endfor %}
          {% else %}
              <div class="offset-top-34">
                <article class="post widget-event text-left">
                  <a href="#">
                    <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                      <div class="unit-left"><img width="46" height="46" src="" class="img-circle"></div>
                      <div class="unit-body">
                        <div class="post-meta">
                          <ul class="list-inline list-inline-sm">
                            <li><span class="icon-xxs text-picton-blue mdi mdi-calendar"></span>
                              <time datetime="2016-01-01" class="text-dark"> leeg </time>
                            </li>
                          </ul>
                        </div>
                        <div class="post-title">
                          <h6 class="text-regular">Er zijn nog geen blog posts ... </h6>
                        </div>
                      </div>
                    </div>
                  </a>
                </article>
              </div>
            {% endif %}
          </div>
        </aside>
      </div>
    </div>
  </div>
{% endblock main %}