{% extends 'layout.html' %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block page_title %}
  {% include 'home/partials/page_title.html' with title='blog' %}
{% endblock page_title %}

{% block main %}
<div class="shell section-bottom-50">
  <div class="range range-xs-center">
    <div class="cell-md-8">
      <section>
        <article class="post post-default text-left">
          <div class="header post-header">
            <ul class="post-controls list-inline list-inline-sm p text-dark">
              <li>
                <span class="text-middle icon-xxs text-picton-blue mdi mdi-clock"></span>
                <time datetime="2016-01-01" class="text-middle small">{{ page.date|date:'d F' }}</time>
              </li>
              <li>
                <span class="text-middle icon-xxs text-picton-blue mdi mdi-account-outline">&nbsp;</span>
                <span class="text-middle small">{% if page.owner.first_name != '' %}{{ page.owner.first_name }}{% else %}{{page.owner }}{% endif %}</span>
              </li>
            </ul>
            <h3 class="post-title">{{ page.title }}</h3>
            {% if page.intro_text and page.intro_text != '' %}
            <p class="text-bold">
              {{ page.intro_text }}
            </p>
            {% endif %}
            <div class="post-media">
              <header class="post-media">
                <div data-photo-swipe="gallery">
                  <a class="thumbnail-classic">
                    {% image page.image fill-600x200 as img %}
                    <figure>
                      <img src="{{ img.file.url }}" alt="">
                    </figure>
                  </a>
                </div>
              </header>
            </div>
            {% if page.blog_content %}
            <div>
              {{ page.blog_content }}
            </div>
            {% endif %}
            {% if page.tags %}
            <div class="offset-top-34">
              <div class="group-xs">
                {% for tag in page.tags.all %}
                <a href="#" class="btn btn-xs btn-default">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            <a href="{% slugurl 'blog' %}" class="offset-top-24 btn btn-primary"><i class="fa fa-chevron-circle-left"></i> Terug naar overzicht</a>
          </div>
        </article>
      </section>
    </div>
    <div class="cell-md-4">
      {% if page.other_blogs %}
      <aside class="text-left">
        <div class="range">
          <!-- Recent Events-->
          <div class="cell-sm-6 cell-md-12 offset-top-41">
            <h6 class="text-uppercase text-spacing-60">Meer blogs!</h6>
            <div class="text-subline"></div>
              <!-- Event Widget-->
          {% for blog in page.other_blogs %}
            <div class="offset-top-34">
              <article class="post widget-event text-left">
                <a href="{% pageurl blog %}">
                  <div class="unit unit-horizontal unit-spacing-xs unit-middle">
                    {% image blog.image fill-100x100 as img %}
                    <div class="unit-left"><img width="46" height="46" src="{{ img.file.url }}" class="img-circle"></div>
                    <div class="unit-body">
                      <div class="post-meta">
                        <ul class="list-inline list-inline-sm">
                          <li><span class="icon-xxs text-picton-blue mdi mdi-calendar"></span>
                            <time datetime="2016-01-01" class="text-dark">{{ blog.date|date:'j F'}}</time>
                          </li>
                          <!-- <li><span class="icon-xxs text-picton-blue mdi mdi-clock"></span>
                            <time datetime="2016-01-01" class="text-dark">9:00 PM</time>
                          </li> -->
                        </ul>
                      </div>
                      <div class="post-title">
                        <h6 class="text-regular">{{ blog.title }}</h6>
                      </div>
                    </div>
                  </div>
                </a>
              </article>
            </div>
          {% endfor %}
          </div>
        </div>
      </aside>
      {% endif %}
    </div>
  </div>
</div>

{% endblock main %}